@mixin box-sizing($sizing)
	box-sizing: $sizing
	-webkit-box-sizing: $sizing
	-moz-box-sizing: $sizing

@mixin transition($transition)
	-webkit-transition: $transition
	-moz-transition: $transition
	-ms-transition: $transition
	-o-transition: $transition
	transition: $transition

@mixin transform($transforms)
	-moz-transform: $transforms
	-o-transform: $transforms
	-ms-transform: $transforms
	-webkit-transform: $transforms
	transform: $transforms

@mixin button
	padding: 10px 12px
	text-transform: uppercase
	cursor: pointer
	display: inline-block
	color: white
	font-weight: 500
	line-height: 1
	text-align: center
	background: #bcbcbe
	border-radius: 4px
	@include transition(all .3s)
	&:hover
		background-color: #484848

@mixin red-button
	@include button
	background: #f75400
	&:hover
		background-color: #fd8724