.popup-container
	position: fixed
	height: 100%
	width: 100%
	left: 0
	top: 0
	z-index: 10
	display: none
	.popup-overlay
		position: absolute
		background: rgba(0,0,0,.6)
		height: 100%
		width: 100%
		overflow: auto

	.popup
		width: 855px
		min-height: 405px
		margin: 50px auto 50px
		background: #ffffff
		@include box-sizing(border-box)
		padding: 20px 55px 20px 20px
		position: relative
		@include respond-to(small)
			width: 600px
			margin: 20px auto 20px
			.video-container
				height: 250px
		.video-container
			height: 400px
			width: 100%
		.manage-col
			position: absolute
			right: 0
			width: 35px
			top: 0
			height: 100%
			background: #000
			.close
				position: absolute
				background: url(../img/close.png) no-repeat center
				width: 35px
				height: 35px
				top: 0px
				left: 0px
		a.reference
			color: #fe5000
			font-family: $fira
			font-size: 13px
			font-weight: normal
			display: block
			text-decoration: none
			padding-left: 30px
			background: url(../img/rightarrow.png) no-repeat center left
			line-height: 1
			padding-top: 2px
			padding-bottom: 2px
		.reference-block
			border-top: 1px solid #f7f7f7
			padding: 20px 20px
			@include box-sizing(border-box)
			width: $col-left-width
			margin-left: -20px
			@include respond-to(medium)
				width: 100%