.main-menu
	position: relative
	height: 37px
	background: #2e9464
	.left-bg
		position: absolute
		width: 50%
		height: 100%
		background: #ffffff
		left: 0
		top: 0

	.main-container
		background: #2e9464
		overflow: hidden
		padding-left: 0
		border-left: 20px solid #ffffff
		//@include respond-to(medium)
		//	border-left: 0
	.logo
		float: left
		height: 37px
	ul
		margin: 0
		padding: 0
		float: left
		font-size: 0
		position: relative
		li
			display: inline-block
			font-size: 0
			margin: 0
			padding: 0
			border-right: 1px solid #48a177
			a
				font-size: 14px
				text-transform: uppercase
				line-height: 37px
				padding: 0 26px
				color: #fff
				text-decoration: none
				font-weight: 400
				float: left
				@include transition(all .3s)
				border-right: 1px solid #277d54
			&:hover
				a
					background: #33b06b
	@include respond-to(medium)
		ul
			padding: 0 0 0 10px
			li
				a
					padding: 0 10px
	@include respond-to(small)
		ul
			display: none
