//mixins for responsive design, variables with resolutions

//smallest screen size
$smallest: 640px
//minimal grid rez
$small: 960px
//rez for 3-col grid
$medium: 1024px
//rez for 4-col grid
$large: 1200px

@mixin respond-to($media)
	@if $media == small
		@media only screen and (max-width: $medium)
			@content
	@else if $media == medium
		@media only screen and (max-width: $large)
			@content
	@else if $media == large
		@media only screen and (min-width: $large)
			@content
	@else if $media == nogrid
		@media only screen and (max-width: $small)
			@content


.main-container
	width: 1200px
	min-width: 320px
	margin: 0 auto
	position: relative
	padding: 0 20px
	@include box-sizing(border-box)
	@include respond-to(medium)
		width: 955px
	@include respond-to(small)
		width: 640px
		padding: 0 25px
