.social-buttons
	.social-likes__widget
		margin: 0 5px
		.social-likes__button
			background: none
			border: none
			color: #343434
			box-shadow: none
			padding: 0
			width: 15px
			height: 15px
			opacity: 1
			@include transition(all .3s)
			.social-likes__icon
				width: 15px
				height: 15px
				&.social-likes__icon_facebook
					background: url(../img/fb.png) no-repeat center
				&.social-likes__icon_twitter
					background: url(../img/twitter.png) no-repeat center
				&.social-likes__icon_vkontakte
					background: url(../img/vk.png) no-repeat center
			&:hover
				opacity: .6

.article
	.social-buttons
		.social-likes__widget
			.social-likes__button
				background: none
				border: none
				box-shadow: none
				padding: 10px
				border-radius: 4px
				color: white
				text-shadow: none
				font-family: $fira
				font-weight: 300
				width: 100px
				.social-likes__icon
					position: relative
					margin-right: 5px
					width: 15px
					height: 17px
					vertical-align: top
					display: inline-block
					&.social-likes__icon_facebook
						background: url(../img/fb_w.png) no-repeat center
					&.social-likes__icon_twitter
						background: url(../img/tw_w.png) no-repeat center
					&.social-likes__icon_vkontakte
						background: url(../img/vk_w.png) no-repeat center
				&.social-likes__button_twitter
					background: #28aae1
				&.social-likes__button_facebook
					background: #3460a1
				&.social-likes__button_vkontakte
					background: #096b9b
