@charset "UTF-8";
.main-container {
  width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  @media only screen and (max-width: 1200px) {
    .main-container {
      width: 955px; } }
  @media only screen and (max-width: 1024px) {
    .main-container {
      width: 640px;
      padding: 0 25px; } }

.social-buttons .social-likes__widget {
  margin: 0 5px; }
  .social-buttons .social-likes__widget .social-likes__button {
    background: none;
    border: none;
    color: #343434;
    box-shadow: none;
    padding: 0;
    width: 15px;
    height: 15px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .social-buttons .social-likes__widget .social-likes__button .social-likes__icon {
      width: 15px;
      height: 15px; }
      .social-buttons .social-likes__widget .social-likes__button .social-likes__icon.social-likes__icon_facebook {
        background: url(../img/fb.png) no-repeat center; }
      .social-buttons .social-likes__widget .social-likes__button .social-likes__icon.social-likes__icon_twitter {
        background: url(../img/twitter.png) no-repeat center; }
      .social-buttons .social-likes__widget .social-likes__button .social-likes__icon.social-likes__icon_vkontakte {
        background: url(../img/vk.png) no-repeat center; }
    .social-buttons .social-likes__widget .social-likes__button:hover {
      opacity: 0.6; }

.article .social-buttons .social-likes__widget .social-likes__button {
  background: none;
  border: none;
  box-shadow: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  text-shadow: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  width: 100px; }
  .article .social-buttons .social-likes__widget .social-likes__button .social-likes__icon {
    position: relative;
    margin-right: 5px;
    width: 15px;
    height: 17px;
    vertical-align: top;
    display: inline-block; }
    .article .social-buttons .social-likes__widget .social-likes__button .social-likes__icon.social-likes__icon_facebook {
      background: url(../img/fb_w.png) no-repeat center; }
    .article .social-buttons .social-likes__widget .social-likes__button .social-likes__icon.social-likes__icon_twitter {
      background: url(../img/tw_w.png) no-repeat center; }
    .article .social-buttons .social-likes__widget .social-likes__button .social-likes__icon.social-likes__icon_vkontakte {
      background: url(../img/vk_w.png) no-repeat center; }
  .article .social-buttons .social-likes__widget .social-likes__button.social-likes__button_twitter {
    background: #28aae1; }
  .article .social-buttons .social-likes__widget .social-likes__button.social-likes__button_facebook {
    background: #3460a1; }
  .article .social-buttons .social-likes__widget .social-likes__button.social-likes__button_vkontakte {
    background: #096b9b; }

.main-menu {
  position: relative;
  height: 37px;
  background: #2e9464; }
  .main-menu .left-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0; }
  .main-menu .main-container {
    background: #2e9464;
    overflow: hidden;
    padding-left: 0;
    border-left: 20px solid #ffffff; }
  .main-menu .logo {
    float: left;
    height: 37px; }
  .main-menu ul {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 0;
    position: relative; }
    .main-menu ul li {
      display: inline-block;
      font-size: 0;
      margin: 0;
      padding: 0;
      border-right: 1px solid #48a177; }
      .main-menu ul li a {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 37px;
        padding: 0 26px;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        float: left;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border-right: 1px solid #277d54; }
      .main-menu ul li:hover a {
        background: #33b06b; }
  @media only screen and (max-width: 1200px) {
    .main-menu ul {
      padding: 0 0 0 10px; }
      .main-menu ul li a {
        padding: 0 10px; } }
  @media only screen and (max-width: 1024px) {
    .main-menu ul {
      display: none; } }

.popup-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none; }
  .popup-container .popup-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    overflow: auto; }
  .popup-container .popup {
    width: 855px;
    min-height: 405px;
    margin: 50px auto 50px;
    background: #ffffff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px 55px 20px 20px;
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .popup-container .popup {
        width: 600px;
        margin: 20px auto 20px; }
        .popup-container .popup .video-container {
          height: 250px; } }
    .popup-container .popup .video-container {
      height: 400px;
      width: 100%; }
    .popup-container .popup .manage-col {
      position: absolute;
      right: 0;
      width: 35px;
      top: 0;
      height: 100%;
      background: #000; }
      .popup-container .popup .manage-col .close {
        position: absolute;
        background: url(../img/close.png) no-repeat center;
        width: 35px;
        height: 35px;
        top: 0px;
        left: 0px; }
    .popup-container .popup a.reference {
      color: #fe5000;
      font-family: "Fira Sans", sans-serif;
      font-size: 13px;
      font-weight: normal;
      display: block;
      text-decoration: none;
      padding-left: 30px;
      background: url(../img/rightarrow.png) no-repeat center left;
      line-height: 1;
      padding-top: 2px;
      padding-bottom: 2px; }
    .popup-container .popup .reference-block {
      border-top: 1px solid #f7f7f7;
      padding: 20px 20px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 920px;
      margin-left: -20px; }
      @media only screen and (max-width: 1200px) {
        .popup-container .popup .reference-block {
          width: 100%; } }

body, html {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: "Fira Sans", sans-serif;
  color: #343434;
  font-size: 14px;
  font-weight: 300;
  line-height: 1; }
  body.no-scroll, html.no-scroll {
    overflow: hidden; }

h1, h2, h3 {
  font-weight: 600; }

.button {
  padding: 10px 12px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: #bcbcbe;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover {
    background-color: #484848; }

.red.button {
  padding: 10px 12px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: #bcbcbe;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #f75400; }
  .red.button:hover {
    background-color: #484848; }
  .red.button:hover {
    background-color: #fd8724; }

a.link-to-article {
  text-decoration: none;
  display: block; }

.t-table {
  display: table;
  width: 100%;
  height: 100%; }
  .t-table .t-row {
    display: table-row; }
    .t-table .t-row .t-cell {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      padding: 5px 7px; }

header {
  margin: 10px 0 20px;
  border-bottom: 1px solid #e1e1e2; }

.marking {
  padding-bottom: 10px;
  overflow: hidden; }
  .marking .cutter {
    float: left;
    overflow: hidden;
    height: 90px; }
    @media only screen and (max-width: 1200px) {
      .marking .cutter {
        width: 720px; } }
    @media only screen and (max-width: 1024px) {
      .marking .cutter {
        width: 395px; } }
  .marking .item {
    min-width: 120px;
    display: inline-block;
    padding: 10px 25px;
    vertical-align: top;
    border-right: 1px solid #e1e1e2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .marking .item .name {
      font-size: 12px;
      margin-bottom: 10px;
      font-weight: 500;
      color: #343434;
      text-transform: uppercase; }
      .marking .item .name a {
        color: #343434; }
    .marking .item .diff {
      font-family: "Fira Sans", sans-serif;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 10px;
      color: #33b06b; }
      .marking .item .diff.negative {
        color: #e80024; }
    .marking .item .val, .marking .item .time {
      font-size: 12px;
      font-family: "Fira Sans", sans-serif;
      font-weight: 300; }
    .marking .item .val {
      float: left;
      color: #343434; }
    .marking .item .time {
      float: right;
      color: #b0b0b0; }
    .marking .item.investing {
      float: right;
      border: none;
      padding-right: 0; }
      .marking .item.investing .button {
        padding: 11px 12px 10px;
        font-size: 12px;
        margin-top: 10px;
        text-decoration: none; }
    .marking .item:first-child {
      padding-left: 0; }

.sub-header {
  margin-bottom: 30px;
  margin-top: 30px; }
  .sub-header.inner .caption .linked {
    top: initial;
    bottom: 0; }
  .sub-header .caption {
    display: inline-block;
    position: relative; }
    .sub-header .caption h1, .sub-header .caption h2 {
      float: left;
      margin: 0;
      text-transform: uppercase; }
      .sub-header .caption h1 a, .sub-header .caption h2 a {
        text-decoration: none; }
    .sub-header .caption h1 {
      font-size: 81px;
      color: #343434; }
      .sub-header .caption h1 a {
        color: #343434; }
    .sub-header .caption h3 {
      font-size: 28px;
      opacity: 0.5;
      margin: 0 20px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .sub-header .caption h3 a {
        text-decoration: none;
        color: #343434; }
      .sub-header .caption h3:hover {
        opacity: 1; }
    .sub-header .caption h2 {
      color: #33b06b;
      font-size: 65px; }
      .sub-header .caption h2 a {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        color: #33b06b;
        opacity: 0.8; }
      .sub-header .caption h2:hover a {
        opacity: 1; }
    .sub-header .caption .linked {
      position: absolute;
      top: 0;
      right: -140px;
      width: 108px;
      font-family: "Fira Sans", sans-serif;
      font-weight: 300;
      font-size: 11px;
      text-transform: uppercase;
      color: #4a4a4a;
      line-height: 1.4em;
      padding: 10px 20px 0px; }
  .sub-header .right-menu {
    float: right;
    margin-top: -10px; }
    .sub-header .right-menu ul {
      margin: 0;
      padding: 0; }
      .sub-header .right-menu ul li {
        display: inline-block;
        vertical-align: top;
        margin: 0 0px 0 20px;
        position: relative;
        z-index: 10;
        width: 100px;
        height: 100px; }
        @media only screen and (max-width: 1200px) {
          .sub-header .right-menu ul li {
            margin-left: 15px; } }
        .sub-header .right-menu ul li .inner {
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
        .sub-header .right-menu ul li .front, .sub-header .right-menu ul li .back {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          text-align: center;
          font-size: 12px;
          line-height: 1;
          cursor: pointer;
          border-radius: 4px; }
        .sub-header .right-menu ul li .front {
          padding: 5px;
          background: #fff;
          opacity: 1;
          position: relative; }
        .sub-header .right-menu ul li .back {
          opacity: 0;
          z-index: -1;
          color: white;
          background: #ff8700;
          -moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
          -ms-transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }
        .sub-header .right-menu ul li .icon {
          margin-bottom: 5px; }
        .sub-header .right-menu ul li:hover .inner {
          -moz-transform: rotateY(-180deg);
          -o-transform: rotateY(-180deg);
          -ms-transform: rotateY(-180deg);
          -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }
        .sub-header .right-menu ul li:hover .front {
          opacity: 0; }
        .sub-header .right-menu ul li:hover .back {
          opacity: 1; }
  @media only screen and (max-width: 1024px) {
    .sub-header .caption, .sub-header .right-menu {
      width: 100%; }
    .sub-header .caption {
      border-bottom: 1px solid #e1e1e2;
      padding: 0 0 20px; }
      .sub-header .caption .linked {
        position: relative;
        display: inline-block;
        right: initial; }
    .sub-header .right-menu {
      padding: 20px 0;
      margin-top: 0; }
      .sub-header .right-menu ul li {
        width: 125px; } }

.grid {
  width: 1200px;
  margin-bottom: 40px;
  min-height: 700px;
  overflow: hidden;
  margin-left: -20px;
  background: #ffffff;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .grid {
      width: 100%;
      margin-left: 0; } }
  .grid .col {
    float: left; }
    .grid .col.left {
      width: 920px; }
    .grid .col.right {
      padding: 0 25px 0 0;
      width: 240px;
      overflow: hidden;
      min-height: 100px;
      float: right; }
      .grid .col.right .extender {
        display: none; }
      .grid .col.right.sticky {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 50%;
        margin-right: -600px;
        height: 100%; }
        .grid .col.right.sticky .inner {
          height: 100%;
          overflow: auto; }
      .grid .col.right.bottom {
        position: absolute;
        bottom: 0;
        right: 0; }
      .grid .col.right .expand-player {
        padding: 10px 12px;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        color: white;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        background: #bcbcbe;
        border-radius: 4px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        background: #f75400;
        margin-top: 5px;
        font-weight: 300;
        padding: 12px 30px 9px 10px;
        background-image: url(../img/expand.png);
        background-position: 90% center;
        background-repeat: no-repeat;
        text-decoration: none; }
        .grid .col.right .expand-player:hover {
          background-color: #484848; }
        .grid .col.right .expand-player:hover {
          background-color: #fd8724; }
  .grid .more-button {
    text-align: center;
    padding: 20px 0px;
    display: inline-block;
    width: 100%; }
  .grid.mainpage-grid .col {
    float: left; }
    .grid.mainpage-grid .col.left {
      width: 435px;
      margin-left: -915px; }
    .grid.mainpage-grid .col.middle {
      width: 480px;
      margin-left: 435px;
      min-height: 500px; }
    .grid.mainpage-grid .col.right {
      float: right; }
    @media only screen and (max-width: 1024px) {
      .grid.mainpage-grid .col.left, .grid.mainpage-grid .col.middle {
        margin: 0;
        width: 100%; } }
    @media only screen and (max-width: 960px) {
      .grid.mainpage-grid .col.right {
        display: block;
        right: initial;
        float: left;
        position: relative;
        border: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100% !important; } }
  .grid.mainpage-grid .card {
    width: 100%;
    border-left: none; }
  .grid .card {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    width: 460px;
    background: #ffffff;
    float: left;
    border-bottom: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
    height: 190px; }
    .grid .card .image-col {
      height: 115px;
      width: 150px;
      overflow: hidden;
      float: left; }
      .grid .card .image-col .img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat; }
    .grid .card:hover .caption {
      text-decoration: underline; }
    .grid .card:hover .meta-row .label {
      color: #343434; }
    .grid .card .card-content {
      margin-left: 170px;
      height: 100%;
      overflow: hidden; }
    .grid .card .caption {
      color: #000;
      font-family: "Fira Sans", sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px; }
    .grid .card .desc {
      font-family: "Fedra Serif", serif;
      color: #000;
      line-height: 18px; }
  .grid .meta-row {
    margin-bottom: 10px; }
    .grid .meta-row > div {
      display: inline-block;
      font-size: 12px; }
    .grid .meta-row .label {
      color: #2e9464;
      margin-right: 10px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      font-weight: 500;
      text-transform: uppercase; }
    .grid .meta-row .date {
      color: #b0b0b0; }
  .grid .big-card {
    position: relative;
    width: 480px;
    height: 450px; }
    @media only screen and (max-width: 1024px) {
      .grid .big-card {
        width: 100%; } }
    .grid .big-card:hover .meta-row .label {
      color: white; }
    .grid .big-card .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .grid .big-card .card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 25px 20px; }
      .grid .big-card .card-content .caption {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px; }
      .grid .big-card .card-content .desc {
        color: #ffffff;
        margin-bottom: 15px; }
      .grid .big-card .card-content .announce {
        display: none; }
      .grid .big-card .card-content .hidden {
        display: none; }
  @media only screen and (max-width: 1200px) {
    .grid .col.right {
      position: fixed;
      background: #ffffff;
      height: 100%;
      right: -280px;
      padding: 0 20px;
      top: 0;
      border-left: 5px solid #ff8700;
      -webkit-transition: right 0.3s;
      -moz-transition: right 0.3s;
      -ms-transition: right 0.3s;
      -o-transition: right 0.3s;
      transition: right 0.3s;
      z-index: 10;
      overflow: visible; }
      .grid .col.right .inner {
        overflow: auto;
        width: 100%;
        height: 100%; }
      .grid .col.right .extender {
        display: block;
        position: absolute;
        left: -25px;
        width: 16px;
        height: 30px;
        top: 20%;
        cursor: pointer;
        border: 4px solid #ff8700;
        background: #ff8700 url(../img/extend.png) no-repeat center top;
        z-index: 10; }
      .grid .col.right.opened {
        right: 0; }
        .grid .col.right.opened .extender {
          background-position: bottom; } }
  @media only screen and (max-width: 1024px) {
    .grid .col.left {
      width: 100%; }
    .grid .card {
      width: 100%; } }
  @media only screen and (max-width: 960px) {
    .grid .col.right {
      display: none; } }

.webinars {
  padding-bottom: 20px; }
  .webinars .caption {
    font-weight: 600;
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase; }
  .webinars .announce {
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 194px;
    position: relative; }
    .webinars .announce .title {
      position: absolute;
      right: 20px;
      left: 20px;
      bottom: 20px;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      font-weight: 600; }
    .webinars .announce .date {
      position: absolute;
      border: 3px solid #ff8900;
      color: #ff8900;
      font-weight: bold;
      padding: 10px;
      top: 20px;
      left: 20px; }
    .webinars .announce .day {
      font-size: 30px;
      display: inline-block; }
    .webinars .announce .month {
      font-size: 20px;
      display: inline-block; }
    .webinars .announce .time {
      text-align: center;
      font-size: 16px; }

.banner.banner-240-200 {
  padding: 0px 0 20px; }

.banner.wide {
  margin-bottom: 40px;
  width: 1200px;
  overflow: hidden;
  margin-left: -20px; }
  .banner.wide object {
    width: 100%;
    height: 300px; }
  @media only screen and (max-width: 1200px) {
    .banner.wide {
      width: 100%;
      margin: 0 0 40px;
      height: auto; } }

footer {
  height: 126px;
  background: #ffffff;
  padding: 25px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative; }
  @media only screen and (max-width: 1024px) {
    footer {
      height: 188px; } }
  footer .left, footer .right {
    width: 360px;
    float: left;
    position: relative; }
    @media only screen and (max-width: 1024px) {
      footer .left, footer .right {
        width: 248px; }
        footer .left p > span, footer .right p > span {
          display: block; } }
  footer .right {
    float: right;
    text-align: right; }
    footer .right span.l {
      text-transform: uppercase;
      font-size: 12px;
      color: #4a4a4a;
      font-weight: normal; }
      @media only screen and (max-width: 1024px) {
        footer .right span.l {
          display: block;
          margin-bottom: 5px; } }
    footer .right .social-buttons {
      margin-left: 10px; }
    footer .right a {
      color: #ed7803;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal; }
    footer .right .share {
      margin-bottom: 5px; }
      @media only screen and (max-width: 1024px) {
        footer .right .share {
          margin-bottom: 10px; } }
    footer .right .more {
      margin-bottom: 10px; }
      @media only screen and (max-width: 1024px) {
        footer .right .more {
          margin-bottom: 15px; } }
  footer .middle {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center; }
    footer .middle a {
      display: inline-block;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0 10px;
      color: #2e9464; }
  footer .left p {
    margin: 0 0 0;
    font-weight: normal;
    line-height: 16px;
    font-size: 12px; }
  footer .left .persons {
    margin-bottom: 20px; }
    @media only screen and (max-width: 1024px) {
      footer .left .persons {
        margin-bottom: 40px; } }
  footer .left .copy {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000; }
    footer .left .copy a {
      display: block;
      color: #2e9464;
      text-decoration: none; }

.grid .article {
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .grid .article .article-head {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 40px; }
  .grid .article .article-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover; }
  .grid .article .article-title {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px 340px 25px 20px;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    bottom: 0;
    left: 0; }
  .grid .article .article-content {
    color: black; }
    .grid .article .article-content .lead {
      padding-left: 20px;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
      line-height: 1.3em; }
    .grid .article .article-content .inner-content {
      padding-left: 110px;
      padding-right: 50px; }
      @media only screen and (max-width: 1024px) {
        .grid .article .article-content .inner-content {
          padding-left: 90px; } }
    .grid .article .article-content iframe {
      margin-bottom: 25px; }
    .grid .article .article-content p {
      font-family: "Noto Serif", serif;
      font-size: 16px;
      margin: 20px 0;
      line-height: 20px; }
      .grid .article .article-content p img {
        max-width: 100%; }
    .grid .article .article-content h3, .grid .article .article-content h2, .grid .article .article-content h1 {
      text-transform: uppercase;
      font-size: 22px;
      margin: 10px 0;
      font-family: "Fira Sans", sans-serif; }
    .grid .article .article-content figure {
      margin: 0 0 20px; }
      .grid .article .article-content figure img {
        max-width: 100%; }
      .grid .article .article-content figure p {
        margin: 0px 0; }
      .grid .article .article-content figure figcaption {
        color: #fe5000;
        font-family: "Fira Sans", sans-serif;
        font-size: 13px;
        font-weight: normal; }
    .grid .article .article-content .quote {
      margin: 30px 0;
      text-align: center;
      border-top: 5px solid #ff8700;
      border-bottom: 5px solid #ff8700;
      padding-top: 25px;
      position: relative; }
      .grid .article .article-content .quote:before {
        content: "«";
        font-size: 60px;
        color: #ff8700;
        background: white;
        padding: 0 10px;
        display: inline-block;
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -25px;
        font-weight: 400; }
      .grid .article .article-content .quote .content {
        font-weight: 600;
        font-style: italic;
        font-size: 20px;
        padding: 0 40px 20px;
        line-height: 26px; }
      .grid .article .article-content .quote .author {
        padding: 0 5px;
        background: #ffffff;
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        color: #969696;
        position: relative;
        z-index: 1;
        top: 8px; }
    .grid .article .article-content blockquote {
      margin: 30px 0;
      text-align: center;
      border-top: 5px solid #ff8700;
      border-bottom: 5px solid #ff8700;
      padding: 25px 0;
      position: relative;
      font-weight: 600;
      font-style: italic;
      font-size: 20px;
      line-height: 26px; }
      .grid .article .article-content blockquote p, .grid .article .article-content blockquote q {
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-style: italic;
        font-size: 20px;
        line-height: 26px; }
      .grid .article .article-content blockquote:before {
        content: "«";
        font-size: 60px;
        color: #ff8700;
        background: white;
        padding: 0 10px;
        display: inline-block;
        position: absolute;
        top: -15px;
        left: 50%;
        font-weight: 400;
        margin-left: -25px; }
  .grid .article a.reference {
    color: #fe5000;
    font-family: "Fira Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    display: block;
    text-decoration: none;
    padding-left: 30px;
    background: url(../img/rightarrowgreen.gif) no-repeat center left;
    line-height: 1; }
  .grid .article .reference-block {
    border-top: 1px solid #f7f7f7;
    padding: 20px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 920px;
    margin-left: -20px; }
    @media only screen and (max-width: 1200px) {
      .grid .article .reference-block {
        width: 100%; } }
  .grid .article .article-bottom {
    padding: 0 0px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    width: 100%; }
    .grid .article .article-bottom .pager {
      float: right; }
      @media only screen and (max-width: 1024px) {
        .grid .article .article-bottom .pager {
          width: 100%;
          float: left;
          padding: 20px 0 10px; } }
      .grid .article .article-bottom .pager a {
        float: left;
        margin: 10px 0px 10px 0;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 300;
        color: #343434;
        padding: 0 10px; }
        .grid .article .article-bottom .pager a:hover {
          color: #2e9464; }
        .grid .article .article-bottom .pager a:first-child {
          border-right: 1px solid #e1e1e2;
          padding-left: 0; }
    .grid .article .article-bottom .social-buttons {
      float: left; }
  .grid .article .article-related {
    width: 920px;
    margin-left: -20px; }
    @media only screen and (max-width: 1200px) {
      .grid .article .article-related {
        width: 100%; } }
    .grid .article .article-related h2 {
      text-align: center;
      text-transform: uppercase;
      padding: 20px;
      color: #343434;
      font-size: 26px;
      margin: 0;
      border-top: 1px solid #f7f7f7;
      border-bottom: 1px solid #f7f7f7; }
    .grid .article .article-related .more-button {
      padding-bottom: 0; }

.big-card.poll .card-content .desc {
  margin-bottom: 0; }
.big-card.poll .card-content .caption {
  margin-bottom: 0px; }
.big-card.poll .row {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 10px; }
.big-card.poll .poll-form input[type=radio],
.big-card.poll .poll-form input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0; }
.big-card.poll .poll-form span.l {
  padding-left: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-family: "Noto Serif", serif; }
.big-card.poll .poll-form .vote {
  padding: 10px 12px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: #bcbcbe;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none; }
  .big-card.poll .poll-form .vote:hover {
    background-color: #484848; }
  .big-card.poll .poll-form .vote.active {
    padding: 10px 12px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    background: #bcbcbe;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #f75400; }
    .big-card.poll .poll-form .vote.active:hover {
      background-color: #484848; }
    .big-card.poll .poll-form .vote.active:hover {
      background-color: #fd8724; }
.big-card.poll .result-form .row {
  margin-top: 0;
  padding-top: 15px; }
.big-card.poll .result-form .percentage {
  position: relative;
  width: 100%;
  margin-bottom: 8px; }
  .big-card.poll .result-form .percentage .bar {
    height: 12px;
    border-radius: 2px;
    background: #f75400;
    display: inline-block;
    margin-right: 4px; }
  .big-card.poll .result-form .percentage .value {
    color: #f75400;
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
    line-height: 12px; }
.big-card.poll .result-form span.l {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-family: "Noto Serif", serif; }

/*# sourceMappingURL=style.css.map */
