@import 'variables'
@import "mixins"
@import "responsive"
@import "socials"
@import "rbc_head"
@import "popups"

body, html
	margin: 0
	padding: 0
	background: #f7f7f7
	font-family: $fira
	color: #343434
	font-size: 14px
	font-weight: 300
	line-height: 1
	&.no-scroll
		overflow: hidden

h1, h2, h3
	//font-family: "Amazing Grotesk", sans-serif
	font-weight: 600

.button
	@include button

.red.button
	@include red-button

a.link-to-article
	text-decoration: none
	display: block

.t-table
	display: table
	width: 100%
	height: 100%
	.t-row
		display: table-row
		.t-cell
			display: table-cell
			width: 100%
			height: 100%
			vertical-align: middle
			padding: 5px 7px

header
	margin: 10px 0 20px
	border-bottom: 1px solid #e1e1e2

.marking
	padding-bottom: 10px
	overflow: hidden
	.cutter
		float: left
		overflow: hidden
		height: 90px
		@include respond-to(medium)
			width: 720px
		@include respond-to(small)
			width: 395px
	.item
		min-width: 120px
		display: inline-block
		padding: 10px 25px
		vertical-align: top
		border-right: 1px solid #e1e1e2
		@include box-sizing(border-box)
		.name
			//font-family: "Amazing Grotesk", sans-serif
			font-size: 12px
			margin-bottom: 10px
			font-weight: 500
			color: #343434
			text-transform: uppercase
			a
				color: #343434
		.diff
			font-family: $fira
			font-weight: bold
			font-size: 22px
			margin-bottom: 10px
			color: #33b06b
			&.negative
				color: #e80024
		.val, .time
			font-size: 12px
			font-family: $fira
			font-weight: 300
		.val
			float: left
			color: #343434
		.time
			float: right
			color: #b0b0b0

		&.investing
			float: right
			border: none
			padding-right: 0
			.button
				padding: 11px 12px 10px
				font-size: 12px
				margin-top: 10px
				text-decoration: none
		&:first-child
			padding-left: 0
.sub-header
	margin-bottom: 30px
	margin-top: 30px
	&.inner
		.caption
			.linked
				top: initial
				bottom: 0
	.caption
		display: inline-block
		position: relative
		h1, h2
			float: left
			margin: 0
			text-transform: uppercase
			a
				text-decoration: none

		h1
			font-size: 81px
			color: #343434
			a
				color: #343434
		h3
			font-size: 28px
			opacity: .5
			margin: 0 20px
			text-transform: uppercase
			@include transition(all .3s)
			a
				text-decoration: none
				color: #343434
			&:hover
				opacity: 1
		h2
			color: #33b06b
			font-size: 65px
			a
				@include transition(all .3s)
				color: #33b06b
				opacity: .8
			&:hover
				a
					opacity: 1
		.linked
			position: absolute
			top: 0
			right: -140px
			width: 108px
			font-family: $fira
			font-weight: 300
			font-size: 11px
			text-transform: uppercase
			color: #4a4a4a
			line-height: 1.4em
			padding: 10px 20px 0px
	.right-menu
		float: right
		margin-top: -10px
		ul
			margin: 0
			padding: 0
			li
				display: inline-block
				vertical-align: top
				margin: 0 0px 0 20px
				position: relative
				z-index: 10
				width: 100px
				height: 100px
				@include respond-to(medium)
					margin-left: 15px
				.inner
					@include transition(all .3s)
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
				.front, .back
					@include transition(all .2s)
					position: absolute
					top: 0
					left: 0
					height: 100%
					width: 100%
					@include box-sizing(border-box)
					text-align: center
					font-size: 12px
					line-height: 1
					cursor: pointer
					border-radius: 4px
				.front
					padding: 5px
					background: #fff
					opacity: 1
					position: relative
				.back
					opacity: 0
					z-index: -1
					color: white
					background: #ff8700
					@include transform(rotateY(180deg))
				.icon
					margin-bottom: 5px


				&:hover
					.inner
						@include transform(rotateY(-180deg))

					.front
						opacity: 0
					.back
						opacity: 1
	@include respond-to(small)
		.caption, .right-menu
			width: 100%
		.caption
			border-bottom: 1px solid #e1e1e2
			padding: 0 0 20px
			.linked
				position: relative
				display: inline-block
				right: initial
		.right-menu
			padding: 20px 0
			margin-top: 0
			ul
				li
					width: 125px


.grid
	width: 1200px
	margin-bottom: 40px
	min-height: 700px
	overflow: hidden
	margin-left: -20px
	background: #ffffff
	position: relative
	@include respond-to(medium)
		width: 100%
		margin-left: 0
	.col
		float: left
		&.left
			width: $col-left-width
		&.right
			padding: 0 25px 0 0
			//@include box-sizing(border-box)
			width: 240px
			overflow: hidden
			min-height: 100px
			float: right
			.extender
				display: none
			&.sticky
				position: fixed
				z-index: 1
				top: 0
				right: 50%
				margin-right: -600px
				height: 100%
				.inner
					height: 100%
					overflow: auto
			&.bottom
				position: absolute
				bottom: 0
				right: 0
			.expand-player
				@include red-button
				margin-top: 5px
				font-weight: 300
				padding: 12px 30px 9px 10px
				background-image: url(../img/expand.png)
				background-position: 90% center
				background-repeat: no-repeat
				text-decoration: none

	.more-button
		text-align: center
		padding: 20px 0px
		display: inline-block
		width: 100%
		.button
			//padding: 5px 10px

	&.mainpage-grid
		.col
			float: left
			&.left
				width: 435px
				margin-left: -915px
			&.middle
				width: 480px
				margin-left: 435px
				min-height: 500px
			&.right
				float: right

			@include respond-to(medium)
				//&.left
				//	margin-left: -600px
			@include respond-to(small)
				&.left, &.middle
					margin: 0
					width: 100%
			@include respond-to(nogrid)
				&.right
					display: block
					right: initial
					float: left
					position: relative
					border: none
					@include box-sizing(border-box)
					width: 100% !important

		.card
			width: 100%
			border-left: none

	.card
		position: relative
		@include box-sizing(border-box)
		padding: 20px
		width: 460px
		background: #ffffff
		float: left
		border-bottom: 1px solid #f7f7f7
		border-left: 1px solid #f7f7f7
		height: 190px
		.image-col
			height: 115px
			width: 150px
			overflow: hidden
			float: left
			.img
				width: 100%
				height: 100%
				background-repeat: no-repeat
				//background-size: cover

		&:hover
			.caption
				text-decoration: underline
			.meta-row .label
				color: #343434
		.card-content
			margin-left: 170px
			height: 100%
			overflow: hidden
		.caption
			color: #000
			font-family: $fira
			font-weight: bold
			font-size: 20px
			margin-bottom: 10px
		.desc
			font-family: $fedra
			color: #000
			line-height: 18px

	.meta-row
		margin-bottom: 10px
		> div
			display: inline-block
			font-size: 12px
		.label
			color: #2e9464
			margin-right: 10px
			@include transition(all .3s)
			//font-family: $grotesk
			font-weight: 500
			text-transform: uppercase
		.date
			color: #b0b0b0


	.big-card
		position: relative
		width: 480px
		height: 450px
		@include respond-to(small)
			width: 100%
		&:hover
			.meta-row .label
				color: white
		.cover
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			background-size: cover
			background-repeat: no-repeat
			background-position: center
		.card-content
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			background: rgba(0,0,0,.5)
			z-index: 10
			@include box-sizing(border-box)
			padding: 25px 20px
			.caption
				color: #ffffff
				font-size: 30px
				font-weight: bold
				margin-bottom: 15px

			.desc
				color: #ffffff
				margin-bottom: 15px
			.announce
				display: none
			.hidden
				display: none

	@include respond-to(medium)
		.col.right
			position: fixed
			background: #ffffff
			height: 100%
			right: -280px
			padding: 0 20px
			top: 0
			border-left: 5px solid #ff8700
			@include transition(right .3s)
			z-index: 10
			overflow: visible
			.inner
				overflow: auto
				width: 100%
				height: 100%
			.extender
				display: block
				position: absolute
				left: -25px
				width: 16px
				height: 30px
				top: 20%
				cursor: pointer
				border: 4px solid #ff8700
				background: #ff8700 url(../img/extend.png) no-repeat center top
				z-index: 10
			&.opened
				right: 0
				.extender
					background-position: bottom
	@include respond-to(small)
		.col.left
			width: 100%
		.card
			width: 100%
	@include respond-to(nogrid)
		.col.right
			display: none
.webinars
	padding-bottom: 20px
	.caption
		//font-family: $grotesk
		font-weight: 600
		font-size: 25px
		margin: 20px 0
		text-align: center
		text-transform: uppercase
	.announce
		background-repeat: no-repeat
		background-size: cover
		width: 240px
		height: 194px
		position: relative
		.title
			position: absolute
			right: 20px
			left: 20px
			bottom: 20px
			font-size: 20px
			line-height: 24px
			color: #ffffff
			font-weight: 600
		.date
			position: absolute
			border: 3px solid #ff8900
			color: #ff8900
			font-weight: bold
			padding: 10px
			top: 20px
			left: 20px
		.day
			font-size: 30px
			display: inline-block
		.month
			font-size: 20px
			display: inline-block
		.time
			text-align: center
			font-size: 16px

.banner.banner-240-200
	padding: 0px 0 20px


.banner.wide
	margin-bottom: 40px
	width: 1200px
	overflow: hidden
	margin-left: -20px
	object
		width: 100%
		height: 300px
	@include respond-to(medium)
		width: 100%
		margin: 0 0 40px
		height: auto
	@include respond-to(nogrid)
		//width: 640px


footer
	height: 126px
	background: #ffffff
	padding: 25px 0
	@include box-sizing(border-box)
	position: relative
	@include respond-to(small)
		height: 188px
	.left, .right
		width: 360px
		float: left
		position: relative
		@include respond-to(small)
			width: 248px
			p > span
				display: block
	.right
		float: right
		text-align: right
		span.l
			text-transform: uppercase
			font-size: 12px
			color: #4a4a4a
			font-weight: normal
			@include respond-to(small)
				display: block
				margin-bottom: 5px
		.social-buttons
			margin-left: 10px
		a
			color: #ed7803
			text-transform: uppercase
			font-size: 12px
			font-weight: normal
		.share
			margin-bottom: 5px
			@include respond-to(small)
				margin-bottom: 10px
		.more
			margin-bottom: 10px
			@include respond-to(small)
				margin-bottom: 15px
	.middle
		position: absolute
		width: 100%
		left: 0
		top: 0
		text-align: center

		a
			display: inline-block
			font-size: 14px
			text-transform: uppercase
			font-weight: 300
			//font-family: $grotesk
			margin: 0 10px
			color: #2e9464
	.left
		p
			margin: 0 0 0
			font-weight: normal
			line-height: 16px
			font-size: 12px
		.persons
			margin-bottom: 20px
			@include respond-to(small)
				margin-bottom: 40px
		.copy
			font-weight: normal
			font-size: 12px
			line-height: 16px
			color: #000000
			a
				display: block
				color: #2e9464
				text-decoration: none

// inner article page stylez
.grid .article
	padding: 20px
	@include box-sizing(border-box)
	.article-head
		width: 100%
		height: 500px
		position: relative
		margin-bottom: 40px
	.article-cover
		position: absolute
		height: 100%
		width: 100%
		top: 0
		left: 0
		background-repeat: no-repeat
		background-size: cover
	.article-title
		position: absolute
		z-index: 1
		background: rgba(0,0,0,.6)
		padding: 25px 340px 25px 20px
		font-size: 36px
		font-weight: bold
		width: 100%
		@include box-sizing(border-box)
		color: #ffffff
		bottom: 0
		left: 0
	.article-content
		color: black
		.lead
			padding-left: 20px
			font-size: 22px
			font-weight: 400
			margin-bottom: 20px
			line-height: 1.3em
		.inner-content
			padding-left: 110px
			padding-right: 50px
			@include respond-to(small)
				padding-left: 90px
		iframe
			margin-bottom: 25px
		p
			font-family: $noto
			font-size: 16px
			margin: 20px 0
			line-height: 20px
			img
				max-width: 100%
		h3, h2, h1
			text-transform: uppercase
			font-size: 22px
			margin: 10px 0
			font-family: $fira
		figure
			margin: 0 0 20px
			img
				max-width: 100%
			p
				margin: 0px 0
			figcaption
				color: #fe5000
				font-family: $fira
				font-size: 13px
				font-weight: normal
		.quote
			margin: 30px 0
			text-align: center
			border-top: 5px solid #ff8700
			border-bottom: 5px solid #ff8700
			padding-top: 25px
			position: relative
			&:before
				content: "\00ab"
				font-size: 60px
				color: #ff8700
				background: white
				padding: 0 10px
				display: inline-block
				position: absolute
				top: -30px
				left: 50%
				margin-left: -25px
				font-weight: 400
			.content
				font-weight: 600
				font-style: italic
				font-size: 20px
				padding: 0 40px 20px
				line-height: 26px
			.author
				padding: 0 5px
				background: #ffffff
				font-size: 14px
				font-weight: 400
				display: inline-block
				color: #969696
				position: relative
				z-index: 1
				top: 8px
		blockquote
			margin: 30px 0
			text-align: center
			border-top: 5px solid #ff8700
			border-bottom: 5px solid #ff8700
			padding: 25px 0
			position: relative

			font-weight: 600
			font-style: italic
			font-size: 20px
			line-height: 26px
			p, q
				font-family: $fira
				font-weight: 600
				font-style: italic
				font-size: 20px
				line-height: 26px
			&:before
				content: "\00ab"
				font-size: 60px
				color: #ff8700
				background: white
				padding: 0 10px
				display: inline-block
				position: absolute
				top: -15px
				left: 50%
				font-weight: 400
				margin-left: -25px

	a.reference
		color: #fe5000
		font-family: $fira
		font-size: 13px
		font-weight: normal
		display: block
		text-decoration: none
		padding-left: 30px
		background: url(../img/rightarrowgreen.gif) no-repeat center left
		line-height: 1
	.reference-block
		border-top: 1px solid #f7f7f7
		padding: 20px 20px
		@include box-sizing(border-box)
		width: $col-left-width
		margin-left: -20px
		@include respond-to(medium)
			width: 100%
	.article-bottom
		padding: 0 0px 20px
		@include box-sizing(border-box)
		display: inline-block
		width: 100%
		.pager
			float: right
			@include respond-to(small)
				width: 100%
				float: left
				padding: 20px 0 10px
			a
				float: left
				margin: 10px 0px 10px 0
				font-size: 12px
				text-transform: uppercase
				//font-family: $grotesk
				font-weight: 300
				color: #343434
				padding: 0 10px
				&:hover
					color: #2e9464
				&:first-child
					border-right: 1px solid #e1e1e2
					padding-left: 0
		.social-buttons
			float: left

	.article-related
		width: $col-left-width
		margin-left: -20px

		@include respond-to(medium)
			width: 100%

		h2
			text-align: center
			text-transform: uppercase
			padding: 20px
			color: #343434
			font-size: 26px
			margin: 0
			border-top: 1px solid #f7f7f7
			border-bottom: 1px solid #f7f7f7
		.more-button
			padding-bottom: 0




//опросы
.big-card.poll
	.card-content
		.desc
			margin-bottom: 0
		.caption
			margin-bottom: 0px
	.row
		overflow: hidden
		width: 100%
		position: relative
		margin-top: 10px
	.poll-form
		input[type=radio],
		input[type=checkbox]
			position: absolute
			left: 0
			top: 0
		span.l
			padding-left: 30px
			@include box-sizing(border-box)
			display: block
			font-size: 14px
			line-height: 18px
			font-family: $noto
		.vote
			@include button
			border: none
			&.active
				@include red-button
	.result-form
		.row
			margin-top: 0
			padding-top: 15px
		.percentage
			position: relative
			width: 100%
			margin-bottom: 8px
			.bar
				height: 12px
				border-radius: 2px
				background: #f75400
				display: inline-block
				margin-right: 4px
			.value
				color: #f75400
				font-size: 22px
				display: inline-block
				font-weight: bold
				line-height: 12px
		span.l
			display: block
			font-size: 14px
			line-height: 18px
			font-family: $noto
