/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
	 ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
	 ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	 ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 85%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
	 ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'ralewaybold';
  src: url('../f/raleway-bold-webfont.eot');
  src: url('../f/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../f/raleway-bold-webfont.woff2') format('woff2'), url('../f/raleway-bold-webfont.woff') format('woff'), url('../f/raleway-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaylight';
  src: url('../f/raleway-light-webfont.eot');
  src: url('../f/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('../f/raleway-light-webfont.woff2') format('woff2'), url('../f/raleway-light-webfont.woff') format('woff'), url('../f/raleway-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url('../f/raleway-medium-webfont.eot');
  src: url('../f/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../f/raleway-medium-webfont.woff2') format('woff2'), url('../f/raleway-medium-webfont.woff') format('woff'), url('../f/raleway-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayregular';
  src: url('../f/raleway-regular-webfont.eot');
  src: url('../f/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../f/raleway-regular-webfont.woff2') format('woff2'), url('../f/raleway-regular-webfont.woff') format('woff'), url('../f/raleway-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayextrabold';
  src: url('../f/raleway-extrabold-webfont.eot');
  src: url('../f/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../f/raleway-extrabold-webfont.woff2') format('woff2'), url('../f/raleway-extrabold-webfont.woff') format('woff'), url('../f/raleway-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url('../f/raleway-semibold-webfont.eot');
  src: url('../f/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../f/raleway-semibold-webfont.woff2') format('woff2'), url('../f/raleway-semibold-webfont.woff') format('woff'), url('../f/raleway-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  font-size: 18px;
  font-family: 'arno-pro', "Minion Pro", serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  background: #1f1f1f;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision; }
  body.no-hover {
    pointer-events: none; }
    body.no-hover * {
      pointer-events: none !important; }

h1 {
  font-size: 32px;
  margin-bottom: 22px; }

h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 130%;
  color: #181D2A;
  margin-bottom: 40px; }

._align_center {
  text-align: center; }

.grid {
  *zoom: 1;
  margin: -20px -10px; }
  .grid:before, .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }

.grid-col {
  *zoom: 1;
  float: left;
  vertical-align: top;
  margin: 0 10px; }
  .grid-col:before, .grid-col:after {
    content: " ";
    display: table; }
  .grid-col:after {
    clear: both; }
  .grid-col.grid-col--single {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px; }
  .grid-col.grid-col--2x {
    width: 620px; }
  .grid-col.grid-col--50p {
    width: 461px; }

.grid-flow {
  *zoom: 1;
  float: left;
  vertical-align: top;
  margin: 0 0px; }
  .grid-flow:before, .grid-flow:after {
    content: " ";
    display: table; }
  .grid-flow:after {
    clear: both; }

.grid-more {
  position: absolute; }

.grid-item {
  display: block;
  height: 139px;
  width: 300px;
  border-bottom: 1px solid #E9E9E9;
  margin: 20px 0;
  text-decoration: none;
  position: relative; }
  .grid-item.grid-item--2x {
    height: 299px;
    background: #F6F9F9; }
    .grid-item.grid-item--2x .grid-item__wrap {
      position: absolute;
      z-index: 5;
      bottom: 16px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--3x {
    height: 459px;
    background: #F6F9F9; }
    .grid-item.grid-item--3x .grid-item__wrap {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--2y {
    width: 100%;
    background: #F6F9F9;
    border-bottom: 0; }
    .grid-item.grid-item--2y .grid-item__wrap {
      position: absolute;
      z-index: 1;
      bottom: 16px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--3y {
    width: 100%;
    background: #F6F9F9; }
    .grid-item.grid-item--3y .grid-item__wrap {
      position: absolute;
      z-index: 1;
      bottom: 16px;
      left: 16px;
      right: 16px; }
  .grid-item.grid-item--photo .grid-item__wrap {
    width: 322px;
    left: auto;
    right: 0;
    top: 0;
    height: 100%;
    background: #202737;
    padding: 16px;
    box-sizing: border-box; }
  .grid-item.grid-item--photo .grid-item__name {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px; }
  .grid-item.grid-item--photo .grid-item__intro {
    color: #fff; }
  .grid-item.grid-item--photo .grid-item__photo {
    width: 640px;
    min-height: 1px; }
  .grid-item.grid-item--photo .button-more {
    position: absolute;
    bottom: 0px;
    left: 20px; }
  .grid-item.grid-item--article .grid-item__name {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
  .grid-item.grid-item--video {
    position: relative; }
    .grid-item.grid-item--video .grid-item__wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      top: auto;
      padding: 15px 20px 0 20px;
      width: 100%;
      background: #202736;
      box-sizing: border-box; }
      .grid-item.grid-item--video .grid-item__wrap .grid-item__name {
        color: #f7f7f7;
        font-size: 25px;
        font-weight: bold; }
    .grid-item.grid-item--video:after {
      content: "\f01d";
      font-family: FontAwesome;
      position: absolute;
      z-index: 50;
      font-size: 80px;
      color: #fff;
      left: 50%;
      top: 35%;
      margin-left: -50px;
      margin-top: -50px;
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 100px; }
  .grid-item.grid-item--flow {
    float: left;
    margin-left: 10px;
    margin-right: 10px; }

.grid-item__label {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background: #009C80;
  padding: 5px 13px 4px 13px;
  height: 23px;
  box-sizing: border-box; }
  .grid-item__label:after {
    position: absolute;
    left: 100%;
    top: 0;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 12px 0 0;
    border-color: #009C80 transparent transparent transparent; }

.grid-item__wrap {
  text-decoration: none; }

.grid-item__date {
  font-size: 14px;
  color: #B6B6B6;
  display: block;
  margin-bottom: 10px;
  text-decoration: none; }

.grid-item__name {
  font-size: 18px;
  color: #000;
  display: block;
  line-height: 130%;
  text-decoration: none;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700; }

.grid-item__intro {
  font-size: 16px;
  color: #727272;
  display: block;
  margin-top: 10px;
  line-height: 130%;
  text-decoration: none;
  min-height: 160px; }

.grid-item__photo {
  display: block;
  margin: 0 auto 30px auto;
  width: 160px;
  height: 160px;
  border-radius: 50% 50% 50% 0;
  background: #ccc;
  text-decoration: none;
  background-size: cover;
  background-position: center; }
  .grid-item__photo.grid-item__photo--bg {
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent; }

.mos-med-head {
  border-bottom: 1px solid #202737;
  margin-bottom: 30px;
  position: relative; }

.mos-med-head__logo {
  font-size: 58px;
  color: #202737;
  text-decoration: none;
  margin-bottom: 5px;
  display: block; }

.mos-head-menu {
  margin: 15px 0 10px 0; }

.mos-head-menu__item {
  font-size: 13px;
  text-decoration: none;
  margin-right: 10px;
  letter-spacing: 1px;
  color: #000; }
  .mos-head-menu__item:hover {
    color: #009C80; }

.soc-icons a {
  color: #ccc;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-align: center;
  font-family: Arial;
  line-height: 20px; }
.soc-icons.soc-icons--footer {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: 50px; }
  .soc-icons.soc-icons--footer a {
    color: #515a69;
    border: 2px solid #515a69; }

.interviews {
  background: #F6F9F9;
  position: relative;
  margin: 30px 0; }
  .interviews .grid-item {
    border-bottom: 0; }

.latest {
  position: relative;
  margin: 30px 0;
  padding-top: 50px;
  border-top: 2px solid #009c80; }

.button-more {
  height: 50px;
  border: 3px solid #009C80;
  display: inline-block;
  width: 280px;
  color: #009C80;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  margin: 25px auto;
  position: relative;
  box-sizing: border-box; }
  .button-more .fa {
    font-size: 32px;
    position: absolute;
    right: 9px;
    top: 7px; }

.head-menu {
  height: 42px;
  line-height: 42px;
  background: #202737;
  margin-bottom: 25px; }
  .head-menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px; }
    .head-menu a:hover {
      text-decoration: underline; }

.shares {
  margin: 40px; }

.social-likes {
  line-height: 100% !important;
  min-height: 0 !important;
  margin: 0 !important; }
  .social-likes .social-likes__button {
    padding: 0 5px;
    height: 20px;
    width: 25px;
    text-align: center;
    box-sizing: border-box; }
  .social-likes .social-likes__widget {
    background: transparent;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
    line-height: 100%; }
    .social-likes .social-likes__widget .social-likes__icon {
      left: 0;
      position: static;
      font-size: 24px;
      vertical-align: bottom;
      display: inline-block; }
    .social-likes .social-likes__widget .social-likes__icon_facebook:before {
      content: "\f09a";
      font-family: 'FontAwesome'; }
    .social-likes .social-likes__widget .social-likes__icon_vkontakte {
      top: 0; }
      .social-likes .social-likes__widget .social-likes__icon_vkontakte:before {
        content: "\f189";
        font-family: 'FontAwesome'; }

.contact {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  overflow: hidden; }
  .contact.contact--hidden {
    height: 0%; }
  @media (max-width: 61.24em) {
    .contact {
      margin-top: 45px; } }

.contact__close {
  position: absolute;
  z-index: 10;
  right: 60px;
  top: 40px;
  width: 27px;
  height: 27px;
  background-image: url(../i/cross.png);
  cursor: pointer; }
  @media (max-width: 61.24em) {
    .contact__close {
      display: none;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background-size: contain; } }

.contact__team {
  background: #1a1a1a;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 496px;
  padding-right: 105px;
  overflow: hidden;
  height: 100%;
  padding: 40px 60px;
  color: #ccc;
  box-sizing: border-box; }
  @media (max-width: 61.24em) {
    .contact__team {
      width: 100%;
      padding: 20px;
      top: 45px;
      background: #1f1f1f; } }

.contact__team__head {
  font-size: 70px;
  font-family: 'ralewayextrabold'; }
  @media (max-width: 61.24em) {
    .contact__team__head {
      font-size: 50px; } }

.contact__team__text {
  width: 520px;
  margin: 60px 0;
  font-size: 19px;
  font-family: 'arno-pro', 'Minion Pro', serif; }
  @media (max-width: 61.24em) {
    .contact__team__text {
      margin: 20px 0;
      width: auto; } }

.contact__team__people {
  *zoom: 1; }
  .contact__team__people:before, .contact__team__people:after {
    content: " ";
    display: table; }
  .contact__team__people:after {
    clear: both; }

.contact__contact {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 496px;
  height: 100%;
  padding: 40px 60px;
  box-sizing: border-box; }
  @media (max-width: 61.24em) {
    .contact__contact {
      width: 100%;
      padding: 20px;
      top: 45px; } }

.contact__contact__head {
  font-size: 70px;
  color: #333;
  font-family: 'arno-pro', 'Minion Pro', serif; }
  @media (max-width: 61.24em) {
    .contact__contact__head {
      font-size: 50px; } }

.contact__contact__text {
  margin: 50px 0; }
  .contact__contact__text a {
    color: #1f1f1f; }

.contact__contact__soc {
  display: block;
  margin-top: 20px; }
  .contact__contact__soc a {
    color: #1f1f1f;
    font-size: 22px;
    margin-right: 10px; }

.teammate {
  width: 258px;
  float: left;
  margin-right: 30px; }
  @media (max-width: 61.24em) {
    .teammate {
      width: 100%;
      float: none;
      height: 142px;
      margin-right: 0;
      margin-bottom: 20px;
      *zoom: 1; }
      .teammate:before, .teammate:after {
        content: " ";
        display: table; }
      .teammate:after {
        clear: both; } }

.teammate__photo {
  width: 258px;
  height: 236px;
  background: #ccc;
  background-size: cover;
  margin-bottom: 10px; }
  .teammate__photo video {
    width: 100%;
    height: 100%; }
  @media (max-width: 61.24em) {
    .teammate__photo {
      width: 142px;
      height: 142px;
      float: left;
      margin-right: 20px; }
      .teammate__photo video {
        display: none; } }

.teammate__name {
  font-size: 19px;
  font-family: 'ralewaybold';
  color: #ccc; }

.contacts__mob-menu {
  background: #fff;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: relative;
  z-index: 50;
  border-bottom: 1px solid #ccc; }
  @media (min-width: 61.25em) {
    .contacts__mob-menu {
      display: none; } }

.contacts__mob-menu__item {
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  font-family: 'ralewaymedium';
  font-size: 14px;
  color: #ccc;
  text-transform: uppercase; }
  .contacts__mob-menu__item.contacts__mob-menu__item--active {
    color: #000; }

.contact-hidden {
  display: none; }
  @media (min-width: 61.25em) {
    .contact-hidden {
      display: block; } }

.tiles {
  *zoom: 1; }
  .tiles:before, .tiles:after {
    content: " ";
    display: table; }
  .tiles:after {
    clear: both; }

.tile {
  float: left;
  background: #ccc;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition: opacity .7s ease;
          transition: opacity .7s ease; }
  .tile:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
  .tile .tile__action {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    pointer-events: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'ralewaybold';
    letter-spacing: 1px;
    z-index: 5;
    opacity: 0;
    -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
            transform: translateX(-5%);
    -webkit-transition: all .3s ease;
            transition: all .3s ease; }
  .tile.tile--offscreen {
    opacity: 0; }
  .tile.tile--off {
    display: none; }
  .tile.tile--1x {
    width: 36%;
    height: 263px; }
    .tile.tile--1x + .tile--1x + .tile--1x + .tile--1x {
      margin-left: -36%;
      margin-top: 263px; }
    .tile.tile--1x .tile__label {
      margin-left: 59px;
      margin-top: 48px; }
    .tile.tile--1x .tile__name {
      margin-left: 59px;
      margin-top: 5px;
      font-size: 30px; }
  .tile.tile--2x {
    width: 50%;
    height: 380px; }
    .tile.tile--2x .tile__label {
      margin-left: 59px;
      margin-top: 48px; }
    .tile.tile--2x .tile__name {
      margin-left: 59px;
      margin-top: 5px;
      font-size: 30px; }
  .tile.tile--3x {
    width: 64%;
    height: 526px; }
    .tile.tile--3x + .tile--1x + .tile--1x {
      margin-left: -36%;
      margin-top: 263px; }
    .tile.tile--3x .tile__label {
      margin-left: 59px;
      margin-top: 48px; }
    .tile.tile--3x .tile__name {
      margin-left: 59px;
      margin-top: 5px;
      font-size: 48px; }
  .tile.tile--filtered {
    width: 0; }
  .tile:hover .tile__name, .tile:hover .tile__label {
    opacity: 0;
    -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
            transform: translateX(-5%); }
  .tile:hover:before {
    background: rgba(0, 0, 0, 0.2); }
  .tile:hover .tile__action {
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); }
  .tile:hover .tile__video {
    display: block; }
  @media (max-width: 61.24em) {
    .tile:hover .tile__video {
      display: none; } }
  @media (max-width: 61.24em) {
    .tile {
      width: 100% !important;
      height: 176px !important;
      margin: 0 !important; } }

.tile__video {
  width: 110%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: none; }

.tile__label {
  display: inline-block;
  font-size: 12px;
  font-family: 'ralewaybold';
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  z-index: 5;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }
  @media (max-width: 61.24em) {
    .tile__label {
      margin-left: 30px !important; } }

.tile__name {
  display: block;
  font-family: 'ralewayextrabold';
  color: #fff;
  letter-spacing: 1px;
  width: 50%;
  position: relative;
  z-index: 5;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }
  @media (max-width: 61.24em) {
    .tile__name {
      font-size: 25px !important;
      margin-left: 30px !important;
      width: 80%; } }

.menu {
  height: 72px;
  line-height: 72px;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'ralewaybold'; }
  .menu.menu--showreel-play {
    opacity: 0;
    pointer-events: none; }
  .menu.menu--transparent .menu__filter:before, .menu.menu--transparent .menu__pages:before {
    height: 0; }
  .menu.menu--transparent .menu__filter > .menu__link, .menu.menu--transparent .menu__pages > .menu__link {
    top: -100px; }
    @media (max-width: 61.24em) {
      .menu.menu--transparent .menu__filter > .menu__link, .menu.menu--transparent .menu__pages > .menu__link {
        top: 0; } }
  .menu.menu--transparent .menu__pages > .menu__link {
    top: 0; }
  .menu.menu--transparent .menu__link {
    color: #fff; }
  .menu.menu--transparent .menu__link--lang__languages a {
    color: #fff !important; }
  @media (max-width: 61.24em) {
    .menu.menu--transparent .menu__filter {
      top: -100px; } }
  @media (max-width: 61.24em) {
    .menu {
      height: 100%;
      line-height: 45px;
      pointer-events: none;
      z-index: 150; }
      .menu * {
        pointer-events: all; } }

.menu__logo {
  width: 39px;
  height: 39px;
  display: inline-block;
  margin: 16px 60px;
  position: relative;
  top: 0;
  z-index: 5;
  -webkit-transition: top .2s ease-out;
          transition: top .2s ease-out;
  -webkit-transition-delay: .5s;
          transition-delay: .5s; }
  .menu__logo svg {
    width: 100%;
    height: 100%;
    display: block; }
  .menu__logo.menu__link--active {
    top: -100px; }
  @media (max-width: 61.24em) {
    .menu__logo {
      margin: 8px 20px;
      width: 30px;
      height: 30px; }
      .menu__logo.menu__link--active {
        top: 0; } }

.menu__filter {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 496px;
  text-align: right;
  padding-right: 105px;
  overflow: hidden;
  height: 100%; }
  .menu__filter:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    -webkit-transition: height .3s ease-out;
            transition: height .3s ease-out; }
  .menu__filter .menu__link:not(.menu__link--lang):hover, .menu__filter .menu__link:not(.menu__link--lang).menu__link--active {
    color: #fff; }
  @media (max-width: 61.24em) {
    .menu__filter {
      background: #fff;
      z-index: 1;
      left: 0;
      top: 45px;
      width: 100%;
      height: 45px;
      padding: 0 !important;
      text-align: center !important;
      -webkit-transition: top .3s ease-out;
              transition: top .3s ease-out; }
      .menu__filter:before {
        display: none; }
      .menu__filter .menu__link {
        color: #333 !important;
        background: transparent !important;
        display: inline-block !important;
        margin: 0 5px !important;
        font-size: 12px !important;
        position: static !important; } }

.menu__pages {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 496px;
  height: 72px; }
  .menu__pages:before {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition: height .3s ease-out;
            transition: height .3s ease-out; }
  .menu__pages.menu__pages--off .menu__link:not(.menu__link--lang) {
    top: -100px !important; }
    @media (max-width: 61.24em) {
      .menu__pages.menu__pages--off .menu__link:not(.menu__link--lang) {
        top: 0; } }
  @media (max-width: 61.24em) {
    .menu__pages {
      overflow: hidden;
      width: 100%;
      height: 45px;
      left: 0;
      background: #1f1f1f;
      -webkit-transition: height .3s ease-out;
              transition: height .3s ease-out; }
      .menu__pages:before {
        background: transparent; } }

.menu__trigger {
  content: "\f0c9";
  font-family: 'FontAwesome';
  position: absolute;
  z-index: 50;
  color: #fff;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 25px; }
  @media (min-width: 61.25em) {
    .menu__trigger {
      display: none; } }
  .menu__trigger.menu__trigger--active ~ .menu__pages {
    height: 100%; }

.menu__link {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  margin: 0 15px 0 25px;
  position: relative;
  z-index: 5;
  padding-bottom: 2px;
  display: inline;
  top: 0;
  -webkit-transition: top .3s ease-out;
          transition: top .3s ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  cursor: pointer; }
  .menu__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out; }
  .menu__link + .menu__link {
    -webkit-transition-delay: .15s;
            transition-delay: .15s; }
    .menu__link + .menu__link + .menu__link {
      -webkit-transition-delay: .3s;
              transition-delay: .3s; }
      .menu__link + .menu__link + .menu__link + .menu__link {
        -webkit-transition-delay: .45s;
                transition-delay: .45s; }
  .menu__link.menu__link--ondark {
    color: #666; }
  .menu__link:hover:not(.menu__link--lang):after, .menu__link.menu__link--active:not(.menu__link--lang):after {
    border-bottom: 2px solid;
    bottom: -5px;
    opacity: 1; }
  @media (max-width: 61.24em) {
    .menu__link:hover:not(.menu__link--lang), .menu__link.menu__link--active:not(.menu__link--lang) {
      border-bottom: 0; }
      .menu__link:hover:not(.menu__link--lang):after, .menu__link.menu__link--active:not(.menu__link--lang):after {
        display: none; } }
  .menu__link.menu__link--hidden {
    display: none; }
  .menu__link.menu__link--lang {
    position: relative;
    cursor: default;
    font-size: 11px;
    white-space: nowrap; }
    .menu__link.menu__link--lang .menu__link--lang__languages {
      position: absolute;
      z-index: 10;
      right: -200px;
      top: -4px;
      line-height: 100%;
      box-sizing: border-box;
      -webkit-transition: right .3s ease;
              transition: right .3s ease;
      -webkit-transition-delay: .5s;
              transition-delay: .5s; }
      .menu__link.menu__link--lang .menu__link--lang__languages a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color: #000;
        position: relative; }
        .menu__link.menu__link--lang .menu__link--lang__languages a:after {
          content: "";
          position: absolute;
          bottom: 5px;
          left: 5px;
          right: 5px;
          border-bottom: 1px solid;
          opacity: 0;
          -webkit-transition: all .3s ease-out;
                  transition: all .3s ease-out; }
        .menu__link.menu__link--lang .menu__link--lang__languages a:first-child {
          margin-top: -30px; }
        .menu__link.menu__link--lang .menu__link--lang__languages a:hover:after {
          bottom: -3px;
          opacity: 1;
          border-bottom: 2px solid; }
        @media (max-width: 61.24em) {
          .menu__link.menu__link--lang .menu__link--lang__languages a {
            color: #aaa; }
            .menu__link.menu__link--lang .menu__link--lang__languages a:first-child {
              margin-left: 8px; } }
      @media (max-width: 61.24em) {
        .menu__link.menu__link--lang .menu__link--lang__languages {
          position: relative;
          right: 0;
          top: 0;
          display: inline-block; } }
    .menu__link.menu__link--lang:hover .menu__link--lang__languages {
      display: block;
      right: -60px;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
      @media (max-width: 61.24em) {
        .menu__link.menu__link--lang:hover .menu__link--lang__languages {
          display: inline-block;
          right: 0; } }
    @media (max-width: 61.24em) {
      .menu__link.menu__link--lang {
        font-size: 15px; } }
  @media (max-width: 61.24em) {
    .menu__link {
      display: block;
      text-align: center;
      font-size: 20px;
      color: #fff; }
      .menu__link.menu__link--active {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 10px;
        text-align: center;
        margin-top: 0;
        background: #1f1f1f;
        display: inline-block; }
        .menu__link.menu__link--active:nth-child(1) + .menu__link {
          margin-top: 50%; }
      .menu__link:not(.menu__link--active):first-child {
        margin-top: 50%; } }

.layout {
  position: relative;
  z-index: 1;
  background: #fff; }

.wrap {
  width: 942px;
  margin: auto; }
  .wrap.wrap--table {
    display: table; }
  .wrap.wrap--footer {
    width: 1200px; }

@-webkit-keyframes REC {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.1; }

  100% {
    opacity: 1; } }

@keyframes REC {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.1; }

  100% {
    opacity: 1; } }

.screens {
  height: 100%;
  opacity: 1;
  -webkit-transition: height .5s ease;
          transition: height .5s ease; }
  .screens.screens--hidden {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0; }

.screen {
  height: 100%; }
  .screen.screen--intro {
    overflow: hidden;
    position: relative;
    z-index: 10;
    background: rgba(26, 26, 26, 0.95); }
    @media (max-width: 61.24em) {
      .screen.screen--intro {
        background: #1f1f1f; } }
  .screen.screen--intro-loading .screen--intro__why, .screen.screen--intro-loading .screen--intro__text, .screen.screen--intro-loading .screen--intro__scroll {
    opacity: 0; }
  .screen.screen--intro-loading .screen--intro__y {
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
    .screen.screen--intro-loading .screen--intro__y path:nth-child(2) {
      opacity: 1; }
    .screen.screen--intro-loading .screen--intro__y path:first-child {
      -webkit-animation: REC 1s linear infinite;
              animation: REC 1s linear infinite; }
  .screen .screen--intro__why, .screen .screen--intro__text, .screen .screen--intro__scroll {
    -webkit-transition: all 1s ease;
            transition: all 1s ease; }
  .screen .screen--intro__y, .screen .screen--intro__y path {
    -webkit-transition: all .5s ease;
            transition: all .5s ease; }
  .screen .screen--intro__y {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 50;
    left: 100%;
    top: 100%;
    margin-left: -170px;
    margin-top: -50px;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
    .screen .screen--intro__y svg {
      width: 100%;
      height: 100%;
      display: block; }
      .screen .screen--intro__y svg path:nth-child(2) {
        opacity: 0; }
  .screen .screen--intro__why {
    font-family: 'ralewayextrabold';
    text-transform: uppercase;
    font-size: 30px;
    position: absolute;
    z-index: 50;
    left: 85px;
    top: 80px;
    color: #fff;
    width: 200px;
    height: 20px; }
    .screen .screen--intro__why svg {
      width: 100%;
      height: 100%; }
    @media (max-width: 61.24em) {
      .screen .screen--intro__why {
        font-size: 20px;
        left: 30px; } }
  .screen .screen--intro__scroll {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: #fff;
    font-size: 16px;
    position: absolute;
    z-index: 50;
    bottom: 40px;
    left: 85px;
    padding-top: 10px;
    border-top: 1px solid #fff;
    font-family: 'ralewaymedium';
    letter-spacing: 2px; }
    @media (max-width: 61.24em) {
      .screen .screen--intro__scroll {
        font-size: 12px;
        border-top: 0;
        padding-top: 0;
        margin-left: -15px; } }
  .screen .screen--intro__text {
    font-family: 'arno-pro', 'Minion Pro', serif;
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    z-index: 1;
    left: 90px;
    line-height: 100%;
    display: table;
    height: 100%;
    width: 88%;
    box-sizing: border-box; }
    @media (max-width: 61.24em) {
      .screen .screen--intro__text {
        left: 0px;
        padding: 0 20px;
        width: 100%; } }
  .screen .screen--intro__text__m {
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 61.24em) {
      .screen .screen--intro__text__m {
        font-size: 35px;
        line-height: 120%; } }
  .screen.screen--showreel {
    position: relative;
    z-index: 1;
    width: 100%;
    *zoom: 1; }
    .screen.screen--showreel:before, .screen.screen--showreel:after {
      content: " ";
      display: table; }
    .screen.screen--showreel:after {
      clear: both; }
    @media (max-width: 61.24em) {
      .screen.screen--showreel {
        height: 100%; } }
  .screen.screen--layout {
    position: relative;
    z-index: 1;
    height: auto;
    *zoom: 1; }
    .screen.screen--layout:before, .screen.screen--layout:after {
      content: " ";
      display: table; }
    .screen.screen--layout:after {
      clear: both; }
  .screen.screen--hidden {
    display: none; }

.showreel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover; }
  .showreel.showreel--relative {
    position: relative; }
  .showreel.showreel--offscreen {
    background-size: 100%; }
  @media (max-width: 61.24em) {
    .showreel.showreel--offscreen {
      background-size: cover; } }

.showreel__watch {
  color: #fff;
  font-size: 60px;
  margin: auto;
  font-family: 'ralewayextrabold';
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  z-index: 50;
  top: 50%;
  margin-top: -42px;
  width: 100%; }
  .showreel__watch span {
    font-family: 'arno-pro', 'Minion Pro', serif;
    font-size: 70px; }
  @media (max-width: 61.24em) {
    .showreel__watch {
      font-size: 25px; }
      .showreel__watch span {
        font-size: 30px; } }

.showreel__close {
  position: absolute;
  z-index: 150;
  right: 60px;
  top: 40px;
  width: 27px;
  height: 27px;
  background-image: url(../i/cross.png);
  cursor: pointer; }
  @media (max-width: 61.24em) {
    .showreel__close {
      top: 80px;
      right: 40px;
      width: 20px;
      height: 20px;
      background-size: contain; } }

.showreel__video {
  height: 100%; }
  .showreel__video iframe, .showreel__video video {
    width: 100%;
    height: inherit;
    opacity: 1;
    position: absolute;
    z-index: 1;
    background: #1f1f1f;
    -webkit-transition: opacity 1s ease;
            transition: opacity 1s ease; }
  .showreel__video video {
    width: 110%;
    height: auto; }
    @media (max-width: 61.24em) {
      .showreel__video video {
        display: none; } }
  .showreel__video .showreel__close {
    opacity: 1;
    -webkit-transition: all .5s ease;
            transition: all .5s ease; }
  .showreel__video .showreel__watch, .showreel__video .showreel__video__play {
    visibility: hidden; }
  .showreel__video.showreel__video--inactive iframe, .showreel__video.showreel__video--inactive .showreel__close {
    opacity: 0;
    pointer-events: none; }
  .showreel__video.showreel__video--inactive .showreel__watch, .showreel__video.showreel__video--inactive .showreel__video__play {
    visibility: visible; }

.showreel__video__play {
  width: 62px;
  height: 62px;
  background-image: url(../i/play.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: 40px; }

.footer {
  height: 68px;
  overflow: hidden;
  background: #1a1a1a;
  position: relative;
  font-size: 14px;
  color: #666; }
  @media (max-width: 61.24em) {
    .footer {
      display: none; } }
  .footer a {
    color: #666; }
    .footer a:hover {
      color: #fff; }

.footer__logo {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 20px 40px;
  position: relative;
  z-index: 5; }
  .footer__logo svg {
    width: 100%;
    height: 100%;
    display: block; }
    .footer__logo svg path {
      fill: #666; }

.footer__copy {
  position: absolute;
  left: 80px;
  top: 25px; }

.footer__contacts {
  position: absolute;
  right: 80px;
  top: 22px; }

.footer__contacts__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px; }
  .footer__contacts__item a {
    color: #fff;
    font-size: 22px;
    margin: 0 5px; }

.work {
  position: relative;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%; }
  .work.work--hidden {
    display: none !important; }
  @media (max-width: 61.24em) {
    .work {
      top: 45px;
      min-height: 100%;
      background: #fff;
      padding-bottom: 45px; } }

.work__back {
  font-size: 14px;
  font-family: 'ralewaybold';
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 60px;
  position: absolute;
  z-index: 10;
  right: 60px;
  top: 40px;
  text-decoration: none;
  letter-spacing: 1px; }
  .work__back:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out; }
  .work__back:hover:after {
    border-bottom: 2px solid;
    bottom: -3px;
    opacity: 1; }
  @media (max-width: 61.24em) {
    .work__back {
      display: none;
      font-size: 11px;
      right: 20px;
      top: 20px; } }

@media (max-width: 61.24em) {
  .work__wrap {
    height: 250px;
    position: relative; } }

.work__detail {
  position: relative;
  min-height: 595px;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
  -webkit-transition: height .3s ease;
          transition: height .3s ease; }
  .work__detail:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
  .work__detail.work__detail--videohover:before {
    background: transparent; }
  .work__detail.work__detail--pay + .work__back {
    display: none; }
  @media (max-width: 61.24em) {
    .work__detail.work__detail--pay {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%; } }
  @media (min-width: 61.25em) {
    .work__detail.work__detail--pay .work__info {
      opacity: 0; }
    .work__detail.work__detail--pay + .work__back {
      position: fixed; } }
  @media (max-width: 61.24em) {
    .work__detail {
      min-height: 0;
      height: auto !important; } }

.work__close-video {
  position: absolute;
  z-index: 10;
  right: 60px;
  top: 40px;
  width: 27px;
  height: 27px;
  background-image: url(../i/cross.png);
  cursor: pointer; }
  @media (max-width: 61.24em) {
    .work__close-video {
      display: none; } }

.work__detail__video {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  overflow: hidden;
  opacity: 1;
  pointer-events: all; }
  .work__detail__video iframe {
    width: 100%;
    height: inherit; }
  .work__detail__video ~ * {
    opacity: 0;
    -webkit-transition: all .5s ease;
            transition: all .5s ease; }
  .work__detail__video.work__detail__video--inactive {
    opacity: 0;
    pointer-events: none; }
    .work__detail__video.work__detail__video--inactive iframe {
      visibility: hidden; }
    .work__detail__video.work__detail__video--inactive ~ * {
      opacity: 1; }
    .work__detail__video.work__detail__video--inactive .work__close-video {
      display: none; }
  @media (max-width: 61.24em) {
    .work__detail__video {
      height: 250px !important;
      position: relative; } }

.work__detail__play {
  width: 62px;
  height: 62px;
  background-image: url(../i/play.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 60px;
  margin-top: 60px;
  cursor: pointer;
  position: relative;
  z-index: 20; }
  @media (max-width: 61.24em) {
    .work__detail__play {
      margin-left: 20px;
      margin-top: 30px;
      top: -250px; } }

.work__detail__label {
  font-size: 12px;
  font-family: 'ralewaybold';
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 43px;
  display: inline-block;
  position: relative;
  z-index: 10;
  cursor: pointer; }
  @media (max-width: 61.24em) {
    .work__detail__label {
      margin-left: 20px;
      top: -273px; } }

.work__detail__name {
  font-size: 100px;
  font-family: 'ralewayextrabold';
  color: #fff;
  width: 60%;
  line-height: 100%;
  margin-left: 60px;
  position: relative;
  z-index: 10; }
  @media (max-width: 61.24em) {
    .work__detail__name {
      margin-left: 20px;
      font-size: 25px;
      width: 80%;
      top: -270px; } }

.work__more {
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: 'ralewaysemibold';
  background: #1a1a1a; }
  @media (max-width: 61.24em) {
    .work__more {
      display: none; } }

.work__share {
  position: absolute;
  z-index: 5;
  right: 60px;
  bottom: 40px;
  color: #fff;
  font-size: 12px;
  font-family: 'ralewaybold';
  text-transform: uppercase; }
  @media (max-width: 61.24em) {
    .work__share {
      right: 20px;
      bottom: 20px; } }

@media (max-width: 61.24em) {
  .work__share__text {
    display: none; } }

@media (max-width: 61.24em) {
  .work__tiles {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%; }
    .work__tiles .tile {
      width: 50% !important;
      height: 45px !important;
      line-height: 45px !important;
      background: #1f1f1f !important; }
      .work__tiles .tile .tile__action {
        opacity: 1;
        -webkit-transform: translateX(0%) !important;
            -ms-transform: translateX(0%) !important;
                transform: translateX(0%) !important; } }

.work__info {
  position: absolute;
  z-index: 5;
  bottom: 0;
  margin: 40px 60px;
  display: inline-table;
  opacity: 1;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }
  @media (max-width: 61.24em) {
    .work__info {
      position: relative;
      background: #fff;
      margin: 0;
      display: block;
      padding: 25px 20px;
      bottom: auto; } }

.work__info__col {
  display: table-cell;
  vertical-align: top;
  max-width: 314px;
  color: #fff; }
  .work__info__col + .work__info__col {
    padding-left: 20px; }
  .work__info__col.work__info__col--hidden {
    display: none; }
  @media (max-width: 61.24em) {
    .work__info__col {
      display: block;
      max-width: 100%; }
      .work__info__col + .work__info__col {
        padding-left: 0px;
        margin-top: 20px; } }

.work__info__title {
  margin-bottom: 20px;
  font-size: 12px;
  font-family: 'ralewaybold';
  color: #fff;
  text-transform: uppercase;
  display: inline-block; }
  @media (max-width: 61.24em) {
    .work__info__title {
      color: #000;
      font-size: 15px; } }

.work__info__text {
  font-size: 18px; }
  .work__info__text a {
    font-weight: bold;
    color: #fff; }
  @media (max-width: 61.24em) {
    .work__info__text {
      color: #000; }
      .work__info__text a {
        color: #000; } }
