html {
	height: 100%;
}

body {
	font-size: 18px;
	font-family: 'arno-pro', "Minion Pro", serif;
	font-style: normal;
	font-weight: 400;
	color: #000;
	background: #1f1f1f;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;

	&.no-hover {
		pointer-events: none;
		* {
	  		pointer-events: none !important;
	  	}
	}
}


h1 {
	font-size: 32px;
	margin-bottom: 22px;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	line-height: 130%;
	color: #181D2A;
	margin-bottom: 40px;
}

._align_center {
	text-align: center;
}


.grid {
	@include clearfix;
	margin: -20px -10px;
}



.grid-col {
	@include clearfix;
	float: left;
	vertical-align: top;
	margin: 0 10px;

	&.grid-col--single {
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 0 10px;
	}

	&.grid-col--2x {
		width: 620px;
	}

	&.grid-col--50p {
		width: 461px;
	}
}


.grid-flow {
	@include clearfix;
	float: left;
	vertical-align: top;
	margin: 0 0px;
}


.grid-more {
	position: absolute;
}


.grid-item {
	display: block;
	height: 139px;
	width: 300px;
	border-bottom: 1px solid #E9E9E9;
	margin: 20px 0;
	text-decoration: none;
	position: relative;

	&.grid-item--2x {
		height: 299px;
		background: #F6F9F9;

		.grid-item__wrap {
			position: absolute;
			z-index: 5;
			bottom: 16px;
			left: 16px;
			right: 16px;
		}
	}

	&.grid-item--3x {
		height: 459px;
		background: #F6F9F9;

		.grid-item__wrap {
			position: absolute;
			z-index: 1;
			top: 20px;
			left: 16px;
			right: 16px;
		}
	}

	&.grid-item--2y {
		width: 100%;
		background: #F6F9F9;
		border-bottom: 0;

		.grid-item__wrap {
			position: absolute;
			z-index: 1;
			bottom: 16px;
			left: 16px;
			right: 16px;
		}
	}


	&.grid-item--3y {
		width: 100%;
		background: #F6F9F9;

		.grid-item__wrap {
			position: absolute;
			z-index: 1;
			bottom: 16px;
			left: 16px;
			right: 16px;
		}
	}

	&.grid-item--photo {

		.grid-item__wrap {
			width: 322px;
			left: auto;
			right: 0;
			top: 0;
			height: 100%;
			background: #202737;
			padding: 16px;
			box-sizing: border-box;
		}

		.grid-item__name {
			color: #fff;
			font-size: 22px;
			margin-bottom: 20px;
		}

		.grid-item__intro {
			color: #fff;
		}

		.grid-item__photo {
			width: 640px;
			min-height: 1px;
		}

		.button-more {
			position: absolute;
			bottom: 0px;
			left: 20px;
		}
	}

	&.grid-item--article {
		.grid-item__name {
			color: #fff;
			text-shadow: 0 0 1px rgba(#000, .7);
		}
	}

	&.grid-item--video {
		position: relative;

		.grid-item__wrap {
			position: absolute;
			bottom: 0;
			left: 0;
			top: auto;
			padding: 15px 20px 0 20px;
			width: 100%;
			background: #202736;
			box-sizing: border-box;

			.grid-item__name {
				color: #f7f7f7;
				font-size: 25px;
				font-weight: bold;
			}
		}
		
		&:after {
			content: "\f01d";
			font-family: FontAwesome;
			position: absolute;
			z-index: 50;
			font-size: 80px;
			color: #fff;
			left: 50%;
			top: 35%;
			margin-left: -50px;
			margin-top: -50px;
			width: 100px;
			height: 100px;
			text-align: center;
			line-height: 100px;
		}
	}

	&.grid-item--flow {
		float: left;
		margin-left: 10px;
		margin-right: 10px;
	}
}
	.grid-item__label {
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		background: #009C80;
		padding: 5px 13px 4px 13px;
		height: 23px;
		box-sizing: border-box;

		&:after {
			position: absolute;
			left: 100%;
			top: 0;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 23px 12px 0 0;
			border-color: #009C80 transparent transparent transparent;
		}
	}

	.grid-item__wrap {
		text-decoration: none;
	}

	.grid-item__date {
		font-size: 14px;
		color: #B6B6B6;
		display: block;
		margin-bottom: 10px;
		text-decoration: none;
	}

	.grid-item__name {
		font-size: 18px;
		color: #000;
		display: block;
		line-height: 130%;
		text-decoration: none;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-weight: 700;
	}

	.grid-item__intro {
		font-size: 16px;
		color: #727272;
		display: block;
		margin-top: 10px;
		line-height: 130%;
		text-decoration: none;
		min-height: 160px;
	}

	.grid-item__photo {
		display: block;
		margin: 0 auto 30px auto;
		width: 160px;
		height: 160px;
		border-radius: 50% 50% 50% 0;
		background: #ccc;
		text-decoration: none;
		background-size: cover;
		background-position: center;

		&.grid-item__photo--bg {
			border-radius: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
			background-color: transparent; 
		}
	}



.mos-med-head {
	border-bottom: 1px solid #202737;
	margin-bottom: 30px;
	position: relative;
}

	.mos-med-head__logo {
		font-size: 58px;
		color: #202737;
		text-decoration: none;
		margin-bottom: 5px;
		display: block;
	}


.mos-head-menu {
	margin: 15px 0 10px 0;
}

	.mos-head-menu__item {
		font-size: 13px;
		text-decoration: none;
		margin-right: 10px;
		letter-spacing: 1px;
		color: #000;

		&:hover {
			color: $green;	
		}
	}



.soc-icons {
	a {
		color: #ccc;
		font-size: 12px;
		width: 20px;
		height: 20px;
		display: inline-block;
		border: 2px solid #ccc;
		border-radius: 50%;
		text-align: center;
		font-family: Arial;
		line-height: 20px;
	}

	&.soc-icons--footer {
		position: absolute;
		left: 50%;
		margin-left: -70px;
		bottom: 50px;

		a {
			color: #515a69;
			border: 2px solid #515a69;
		}
	}
}





.interviews {
	background: #F6F9F9;
	position: relative;
	margin: 30px 0;

	.grid-item {
		border-bottom: 0;
	}
}


.latest {
	position: relative;
	margin: 30px 0;
	padding-top: 50px;
	border-top: 2px solid rgba(#009C80, 1);
}



.button-more {
	height: 50px;
	border: 3px solid #009C80;
	display: inline-block;
	width: 280px;
	color: #009C80;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 50px;
	margin: 25px auto;
	position: relative;
	box-sizing: border-box;

	.fa {
		font-size: 32px;
		position: absolute;
		right: 9px;
		top: 7px;
	}
}



.head-menu {
	height: 42px;
	line-height: 42px;
	background: #202737;
	margin-bottom: 25px;

	a {
		color: #fff;
		font-size: 15px;
		text-decoration: none;
		display: inline-block;
		margin: 0 5px;

		&:hover {
			text-decoration: underline;
		}
	}
}




.shares {
	margin: 40px;
}



.social-likes {
	line-height: 100% !important;
	min-height: 0 !important;
	margin: 0 !important;

	.social-likes__button {
		padding: 0 5px;
		height: 20px;
		width: 25px;
		text-align: center;
		box-sizing: border-box;
	}
	.social-likes__widget {
		background: transparent;
		margin: 0;
		display: inline-block;
		vertical-align: bottom;
		line-height: 100%;

		.social-likes__icon {
			left: 0;
			position: static;
			font-size: 24px;
			vertical-align: bottom;
			display: inline-block;
		}

		.social-likes__icon_facebook {
			&:before {
				content: "\f09a";
				font-family: 'FontAwesome';
			}
		}

		.social-likes__icon_vkontakte {
			top: 0;
			&:before {
				content: "\f189";
				font-family: 'FontAwesome';
			}
		}
	}
}