@font-face {
    font-family: 'ralewaybold';
    src: url('../f/raleway-bold-webfont.eot');
    src: url('../f/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/raleway-bold-webfont.woff2') format('woff2'),
         url('../f/raleway-bold-webfont.woff') format('woff'),
         url('../f/raleway-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../f/raleway-light-webfont.eot');
    src: url('../f/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/raleway-light-webfont.woff2') format('woff2'),
         url('../f/raleway-light-webfont.woff') format('woff'),
         url('../f/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../f/raleway-medium-webfont.eot');
    src: url('../f/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/raleway-medium-webfont.woff2') format('woff2'),
         url('../f/raleway-medium-webfont.woff') format('woff'),
         url('../f/raleway-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('../f/raleway-regular-webfont.eot');
    src: url('../f/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/raleway-regular-webfont.woff2') format('woff2'),
         url('../f/raleway-regular-webfont.woff') format('woff'),
         url('../f/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayextrabold';
    src: url('../f/raleway-extrabold-webfont.eot');
    src: url('../f/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../f/raleway-extrabold-webfont.woff') format('woff'),
         url('../f/raleway-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaysemibold';
    src: url('../f/raleway-semibold-webfont.eot');
    src: url('../f/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/raleway-semibold-webfont.woff2') format('woff2'),
         url('../f/raleway-semibold-webfont.woff') format('woff'),
         url('../f/raleway-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}