.contact {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1a1a1a;
	transition: all .4s ease;
	overflow: hidden;

	&.contact--hidden {
		height: 0%;
	}

	@include mq($until: desktop) {
		margin-top: 45px;
	}
}
	.contact__close {
		position: absolute;
		z-index: 10;
		right: 60px;
		top: 40px;
		width: 27px;
		height: 27px;
		background-image: url(../i/cross.png);
		cursor: pointer;

		@include mq($until: desktop) {
			display: none;
			top: 20px;
			right: 20px;
			width: 20px;
			height: 20px;
			background-size: contain;
		}
	}

	.contact__team {
		background: #1a1a1a;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 496px;
		padding-right: 105px;
		overflow: hidden;
		height: 100%;
		padding: 40px 60px;
		color: #ccc;
		box-sizing: border-box;

		@include mq($until: desktop) {
			width: 100%;
			padding: 20px;
			top: 45px;
			background: #1f1f1f;
		}
	}
		.contact__team__head {
			font-size: 70px;
			font-family: 'ralewayextrabold';

			@include mq($until: desktop) {
				font-size: 50px;
			}
		}

		.contact__team__text {
			width: 520px;
			margin: 60px 0;
			font-size: 19px;
			font-family: 'arno-pro', 'Minion Pro', serif;

			@include mq($until: desktop) {
				// color: #333;
				margin: 20px 0;
				width: auto;
			}
		}

		.contact__team__people {
			@include clearfix;
		}

	.contact__contact {
		background: #fff;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 496px;
		height: 100%;
		padding: 40px 60px;
		box-sizing: border-box;

		@include mq($until: desktop) {
			width: 100%;
			padding: 20px;
			top: 45px;
		}
	}
		.contact__contact__head {
			font-size: 70px;
			color: #333;
			font-family: 'arno-pro', 'Minion Pro', serif;

			@include mq($until: desktop) {
				font-size: 50px;
			}
		}

		.contact__contact__text {
			margin: 50px 0;

			a {
				color: #1f1f1f;
			}
		}

		.contact__contact__soc {
			display: block;
			margin-top: 20px;

			a {
				color: #1f1f1f;
				font-size: 22px;
				margin-right: 10px;
			}
		}



.teammate {
	width: 258px;
	float: left;
	margin-right: 30px;

	@include mq($until: desktop) {
		width: 100%;
		float: none;
		height: 142px;
		margin-right: 0;
		margin-bottom: 20px;
		@include clearfix;
	}
}
	.teammate__photo {
		width: 258px;
		height: 236px;
		background: #ccc;
		background-size: cover;
		margin-bottom: 10px;

		video {
			width: 100%;
			height: 100%;
		}

		@include mq($until: desktop) {
			width: 142px;
			height: 142px;
			float: left;
			margin-right: 20px;

			video {
				display: none;
			}
		}
	}

	.teammate__name {
		font-size: 19px;
		font-family: 'ralewaybold';
		color: #ccc;
	}

	.teammate__job {

	}



	.contacts__mob-menu {
		background: #fff;
		height: 45px;
		line-height: 45px;
		text-align: center;
		position: relative;
		z-index: 50;
		border-bottom: 1px solid #ccc;

		@include mq($from: desktop) {
			display: none;
		}
	}
		.contacts__mob-menu__item {
			height: 45px;
			line-height: 45px;
			text-align: center;
			display: inline-block;
			padding: 0 20px;
			font-family: 'ralewaymedium';
			font-size: 14px;
			color: #ccc;
			text-transform: uppercase;

			&.contacts__mob-menu__item--active {
				color: #000;
			}
		}


.contact-hidden {
	display: none;

	@include mq($from: desktop) {
		display: block;
	}
}