.footer {
	height: 68px;
	overflow: hidden;
	background: #1a1a1a;
	position: relative;
	font-size: 14px;
	color: #666;

	@include mq($until: desktop) {
		display: none;
	}

	a {
		color: #666;

		&:hover {
			color: #fff;
		}
	}
}
	.footer__logo {
		width: 25px;
		height: 25px;
		display: inline-block;
		margin: 20px 40px;
		position: relative;
		z-index: 5;

		svg {
			width: 100%;
			height: 100%;
			display: block;

			path {
				fill: #666;
			}
		}
	}


	.footer__copy {
		position: absolute;
		left: 80px;
		top: 25px;
	}

	.footer__contacts {
		position: absolute;
		right: 80px;
		top: 22px;
	}
		.footer__contacts__item {
			display: inline-block;
			vertical-align: middle;
			margin-left: 30px;

			a {
				color: #fff;
				font-size: 22px;
				margin: 0 5px;
			}
		}