.menu {
	height: 72px;
	line-height: 72px;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'ralewaybold';

	&.menu--showreel-play {
		opacity: 0;
		pointer-events: none;
	}

	&.menu--transparent {
		.menu__filter,
		.menu__pages {
			&:before {
				height: 0;
			}

			& > .menu__link {
				top: -100px;

				@include mq($until: desktop) {
					top: 0;
				}
			}
		}

		.menu__pages {
			& > .menu__link {
				top: 0;
			}
		}

		.menu__logo {
			// top: -100px;
		}

		.menu__link {
			color: #fff;
		}

		// .menu__filter {
		// 	width: 0;
		// 	right: 0;
		// 	padding: 0;
		// }

		.menu__link--lang__languages {
			a {
				color: #fff !important;
			}
		}

		@include mq($until: desktop) {
			.menu__filter {
				top: -100px;
			}
		}
	}

	@include mq($until: desktop) {
		height: 100%;
		line-height: 45px;
		pointer-events: none;
		z-index: 150;

		* {
			pointer-events: all;
		}
	}
}
	.menu__logo {
		width: 39px;
		height: 39px;
		display: inline-block;
		margin: 16px 60px;
		position: relative;
		top: 0;
		// top: -100px;
		z-index: 5;
		transition: top .2s ease-out;
		transition-delay: .5s;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}

		&.menu__link--active {
			top: -100px;
		}

		@include mq($until: desktop) {
			margin: 8px 20px;
			width: 30px;
			height: 30px;

			&.menu__link--active {
				top: 0;
			}
		}
	}

	.menu__filter {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 496px;
		text-align: right;
		padding-right: 105px;
		overflow: hidden;
		height: 100%;

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #1a1a1a;
			transition: height .3s ease-out;
		}

		.menu__link:not(.menu__link--lang) {
			&:hover,
			&.menu__link--active {
				color: #fff ;
			}
		}

		@include mq($until: desktop) {
			background: #fff;
			z-index: 1;
			left: 0;
			top: 45px;
			width: 100%;
			height: 45px;
			padding: 0 !important;
			text-align: center !important;
			transition: top .3s ease-out;

			&:before {
				display: none;
			}

			.menu__link {
				color: #333 !important;
				background: transparent !important;
				display: inline-block !important;
				margin: 0 5px !important;
				font-size: 12px !important;
				position: static !important;
			}
		}
	}

	.menu__pages {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 496px;
		height: 72px;

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			transition: height .3s ease-out;
		}

		&.menu__pages--off {
			.menu__link:not(.menu__link--lang) {
				top: -100px !important;

				// & + .menu__link {
				// 	transition-delay: 0s;

				// 	& + .menu__link {
				// 		transition-delay: 0s;

				// 		& + .menu__link {
				// 			transition-delay: 0s;
				// 		}
				// 	}
				// }

				@include mq($until: desktop) {
					top: 0;
				}
			}
		}

		@include mq($until: desktop) {
			overflow: hidden;
			width: 100%;
			height: 45px;
			left: 0;
			background: #1f1f1f;
			transition: height .3s ease-out;

			&:before {
				background:transparent;
			}
		}
	}

	.menu__trigger {
		content: "\f0c9";
		font-family: 'FontAwesome';
		position: absolute;
		z-index: 50;
		color: #fff;
		top: 0;
		right: 0;
		width: 45px;
		height: 45px;
		text-align: center;
		line-height: 45px;
		font-size: 25px;

		@include mq($from: desktop) {
			display: none;
		}

		&.menu__trigger--active {
			& ~ .menu__pages {
				height: 100%;
			}
		}
	}

	.menu__link {
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		color: #333;
		margin: 0 15px 0 25px;
		// margin: -100px 30px 0 30px;
		position: relative;
		z-index: 5;
		// top: -100px;
		padding-bottom: 2px;
		display: inline;
		top: 0;
		transition: top .3s ease-out;
		transition-delay: 0s;
		cursor: pointer;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 1px;
			width: 100%;
			border-bottom: 1px solid;
			opacity: 0;
			transition: all .2s ease-out;
		}

		& + .menu__link {
			transition-delay: .15s;

			& + .menu__link {
				transition-delay: .3s;

				& + .menu__link {
					transition-delay: .45s;
				}
			}
		}

		&.menu__link--ondark {
			color: #666;
		}

		&.menu__link--push {
			// top: 0;
		}

		&:hover:not(.menu__link--lang),
		&.menu__link--active:not(.menu__link--lang) {
			// border-bottom: 2px solid;

			&:after {
				border-bottom: 2px solid;
				bottom: -5px;
				opacity: 1;
			}

			@include mq($until: desktop) {
				border-bottom: 0;
				&:after {
					display: none;
				}
			}
		}

		&.menu__link--hidden {
			display: none;
		}

		&.menu__link--lang {
			position: relative;
			cursor: default;
			font-size: 11px;
			white-space: nowrap;

			.menu__link--lang__languages {
				position: absolute;
				z-index: 10;
				right: -200px;
				top: -4px;
				line-height: 100%;
				// display: none;
				// padding: 60px 0 0 0;
				box-sizing: border-box;
				transition: right .3s ease;
				transition-delay: .5s;

				a {
					display: inline-block;
					padding: 5px;
					text-decoration: none;
					color: #000;
					position: relative;

					&:after {
						content: "";
						position: absolute;
						bottom: 5px;
						left: 5px;
						right: 5px;
						border-bottom: 1px solid;
						opacity: 0;
						transition: all .3s ease-out;
					}

					&:first-child {
						margin-top: -30px;
					}

					&:hover {
						&:after {
							bottom: -3px;
							opacity: 1;
							border-bottom: 2px solid;
						}
					}

					@include mq($until: desktop) {
						color: #aaa;

						&:first-child {
							margin-left: 8px;
						}
					}
				}

				@include mq($until: desktop) {
					position: relative;
					right: 0;
					top: 0;
					display: inline-block;
				}
			}

			&:hover {
				.menu__link--lang__languages {
					display: block;
					right: -60px;
					transition-delay: 0s;

					@include mq($until: desktop) {
						display: inline-block;
						right: 0;
					    // right: 50%;
					    // margin-right: -33px;
					}
				}
			}

			@include mq($until: desktop) {
				font-size: 15px;
			}
		}

		@include mq($until: desktop) {
			display: block;
			text-align: center;
			font-size: 20px;
			color: #fff;

			&.menu__link--active {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				font-size: 10px;
				text-align: center;
				margin-top: 0;
				background: #1f1f1f;
				display: inline-block;

				&:nth-child(1) + .menu__link {
					margin-top: 50%;
				}
			}

			&:not(.menu__link--active):first-child {
				margin-top: 50%;
			}
		}
	}