@keyframes REC {
  0%   { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}




.screens {
	height: 100%;
	opacity: 1;
	transition: height .5s ease;

	&.screens--hidden {
		height: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
	}
}


.screen {
	height: 100%;

	&.screen--intro {
		overflow: hidden;
		position: relative;
		z-index: 10;
		background: rgba(#1a1a1a, .95);

		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	z-index: 1;
		// 	width: 3000px;
		// 	height: 2000px;
		// 	left: 50%;
		// 	top: 50%;
		// 	margin-left: -1800px;
		// 	margin-top: -1000px;
		// 	background: transparent url(/static/svg/cover.svg) no-repeat center;
		// }

		@include mq($until: desktop) {
			background: #1f1f1f;
			// &:before {
			// 	display: none;
			// }
		}
	}

	&.screen--intro-loading {
		.screen--intro__why,
		.screen--intro__text,
		.screen--intro__scroll {
			opacity: 0;
		}

		.screen--intro__y {
			left: 50%;
			top: 50%;
			margin-left: 0;
			margin-top: 0;
			transform: translateY(-50%) translateX(-50%);
			path:nth-child(2) {
				opacity: 1
			}

			path:first-child {
				animation: REC 1s linear infinite;
			}

		}
	}
		// .screen--intro__hole {
		// 	background-image: url(../i/reel_bg.jpg);
		// 	background-repeat: no-repeat;
		// 	background-size: cover;
		// 	background-attachment: fixed;
		// 	position: absolute;
		// 	z-index: 1;
		// 	width: 197px * 2;
		// 	height: 197px * 2;
		// 	left: 50%;
		// 	top: 50%;
		// 	margin-left: -545px;
		// 	margin-top: -197px;
		// 	border-radius: 50%;
		// 	// transform: translate(0,0);

		// 	.screen--intro__hole--offscreen {
		// 		background-attachment: scroll;
		// 	}

		// 	svg {
		// 		width: 60%;
		// 		height: 60%;
		// 		display: block;
		// 		margin: 20% auto;

		// 		path {
		// 			fill: #1a1a1a;
		// 		}
		// 	}

		// 	@include mq($until: desktop) {
		// 		display: none;
		// 	}
		// }

		.screen--intro__why,
		.screen--intro__text,
		.screen--intro__scroll {
			transition: all 1s ease;
		}


		.screen--intro__y,
		.screen--intro__y path {
			transition: all .5s ease;
		}


		.screen--intro__y {
			width: 100px;
			height: 100px;
			position: absolute;
			z-index: 50;
		    left: 100%;
		    top: 100%;
		    margin-left: -170px;
		    margin-top: -50px;
		    transform: translateY(-50%) translateX(-50%);

			svg {
				width: 100%;
				height: 100%;
				display: block;

				path:nth-child(2) {
					opacity: 0;
				}
			}
		}


		.screen--intro__why {
			font-family: 'ralewayextrabold';
			text-transform: uppercase;
			font-size: 30px;
			position: absolute;
			z-index: 50;
			left: 85px;
			top: 80px;
			color: #fff;
			width: 200px;
			height: 20px;

			svg {
				width: 100%;
				height: 100%;
			}

			@include mq($until: desktop) {
				font-size: 20px;
				left: 30px;
			}
		}

		.screen--intro__scroll {
			transform: rotate(-90deg);
			color: #fff;
			font-size: 16px;
			position: absolute;
			z-index: 50;
			bottom: 40px;
			left: 85px;
			padding-top: 10px;
			border-top: 1px solid #fff;
			font-family: 'ralewaymedium';
			letter-spacing: 2px;

			@include mq($until: desktop) {
				font-size: 12px;
				border-top: 0;
				padding-top: 0;
				margin-left: -15px;
			}
		}

		.screen--intro__text {
			font-family: 'arno-pro', 'Minion Pro', serif;
			font-size: 70px;
			font-weight: 400;
			color: #fff;
			position: absolute;
			z-index: 1;
			left: 90px;
			line-height: 100%;
			display: table;
			height: 100%;
			width: 88%;
			box-sizing: border-box;

			@include mq($until: desktop) {
				left: 0px;
				padding: 0 20px;
				width: 100%;
			}
		}
			.screen--intro__text__m {
				display: table-cell;
				vertical-align: middle;

				@include mq($until: desktop) {
					font-size: 35px;
					line-height: 120%;
				}
			}


	&.screen--showreel {
		position: relative;
		z-index: 1;
		width: 100%;
		// overflow: hidden;
		// transform: translate(0,0);
		@include clearfix;

		@include mq($until: desktop) {
			height: 100%;
		}
	}

	&.screen--layout {
		position: relative;
		z-index: 1;
		// background: #fff;
		height: auto;
		@include clearfix;
	}

	&.screen--hidden {
		display: none;
	}
}