.showreel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	top: 0;
	// background-image: url(../i/reel_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	&.showreel--relative {
		position: relative;
	}

	&.showreel--offscreen {
		background-size: 100%;
	}

	@include mq($until: desktop) {
		&.showreel--offscreen {
			background-size: cover;
		}
	}
}
	.showreel__watch {
		color: #fff;
		font-size: 60px;
		margin: auto;
		font-family: 'ralewayextrabold';
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		z-index: 50;
		top: 50%;
		margin-top: -42px;
		width: 100%;

		span {
			font-family: 'arno-pro', 'Minion Pro', serif;
			font-size: 70px;
		}

		@include mq($until: desktop) {
			font-size: 25px;

			span {
				font-size: 30px;
			}
		}
	}

	.showreel__close {
		position: absolute;
		z-index: 150;
		right: 60px;
		top: 40px;
		width: 27px;
		height: 27px;
		background-image: url(../i/cross.png);
		cursor: pointer;

		@include mq($until: desktop) {
			// display: none;
			top: 80px;
			right: 40px;
			width: 20px;
			height: 20px;
			background-size: contain;
		}
	}

	.showreel__video {
		height: 100%;
		iframe,
		video {
			width: 100%;
			height: inherit;
			// visibility: visible;
			opacity: 1;
			position: absolute;
			z-index: 1;
			background: #1f1f1f;
			transition: opacity 1s ease;
		}

		video {
			width: 110%;
			height: auto;

			@include mq($until: desktop) {
				display: none;
			}
		}

		.showreel__close {
			opacity: 1;
			transition: all .5s ease;
		}


		.showreel__watch,
		.showreel__video__play {
			visibility: hidden;
		}


		* {
			// visibility: hidden;
		}

		&.showreel__video--inactive {
			iframe,
			.showreel__close {
				// visibility: hidden;
				opacity: 0;
				pointer-events: none;
			}
			.showreel__watch,
			.showreel__video__play {
				visibility: visible;
			}
			* {
				// visibility: visible;
			}
		}
	}

		.showreel__video__play {
			width: 62px;
			height: 62px;
			background-image: url(../i/play.png);
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
			position: absolute;
			z-index: 20;
			top: 50%;
			left: 50%;
			margin-left: -31px;
			margin-top: 40px;
		}