.tiles {
	@include clearfix;
}

.tile {
	float: left;
	background: #ccc;
	background-size: cover;
	background-position: center;
	text-decoration: none;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transform: translate3d(0,0,0);
	opacity: 1;
	transition: opacity .7s ease;

	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, .4);
		transition: background .3s ease;
	}

	.tile__action {
		position: absolute;
		left: 0;
		width: 100%;
		height: 50px;
		line-height: 50px;
		top: 50%;
		margin-top: -25px;
		text-align: center;
		pointer-events: none;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-family: 'ralewaybold';
		letter-spacing: 1px;
		z-index: 5;
		opacity: 0;
		transform: translateX(-5%);
		transition: all .3s ease;
	}

	&.tile--offscreen {
		opacity: 0;
	}

	&.tile--off {
		display: none;
	}

	&.tile--1x {
		width: 36%;
		height: 263px;

		& + .tile--1x {
			& + .tile--1x {
				& + .tile--1x {
					margin-left: -36%;
					margin-top: 263px;
				}
			}
		}

		.tile__label {
			margin-left: 59px;
			margin-top: 48px;
		}

		.tile__name {
			margin-left: 59px;
			margin-top: 5px;
			font-size: 30px;
		}
	}

	&.tile--2x {
		width: 50%;
		height: 380px;

		.tile__label {
			margin-left: 59px;
			margin-top: 48px;
		}

		.tile__name {
			margin-left: 59px;
			margin-top: 5px;
			font-size: 30px;
		}
	}

	&.tile--3x {
		width: 64%;
		height: 526px;

		& + .tile--1x {
			& + .tile--1x {
				margin-left: -36%;
				margin-top: 263px;
			}
		}

		.tile__label {
			margin-left: 59px;
			margin-top: 48px;
		}

		.tile__name {
			margin-left: 59px;
			margin-top: 5px;
			font-size: 48px;
		}
	}

	&.tile--filtered {
		width: 0;
	}



	&:hover {
		.tile__name,
		.tile__label {
			opacity: 0;
			transform: translateX(-5%);
		}

		&:before {
			background: rgba(#000, .2);
		}

		.tile__action {
			opacity: 1;
			transform: translateX(0%);
		}

		.tile__video {
			display: block;
		}

		@include mq($until: desktop) {
			.tile__video {
				display: none;
			}
		}
	}


	@include mq($until: desktop) {
		width: 100% !important;
		height: 176px !important;
		margin: 0 !important;
	}
}
	.tile__video {
		width: 110%;
		height: auto;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		display: none;
	}

	.tile__label {
		display: inline-block;
		font-size: 12px;
		font-family: 'ralewaybold';
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 1px;
		position: relative;
		z-index: 5;
		transform: translateX(0%);
		// transition: all .3s ease;

		@include mq($until: desktop) {
			margin-left: 30px !important;
		}
	}

	.tile__name {
		display: block;
		font-family: 'ralewayextrabold';
		color: #fff;
		letter-spacing: 1px;
		width: 50%;
		position: relative;
		z-index: 5;
		transform: translateX(0%);
		// transition: all .3s ease;

		@include mq($until: desktop) {
			font-size: 25px !important;
			margin-left: 30px !important;
			width: 80%;
		}
	}