.work {
	position: relative;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;

	&.work--hidden {
		display: none !important;
	}
	@include mq($until: desktop) {
		top: 45px;
		min-height: 100%;
		background: #fff;
		padding-bottom: 45px;
	}
}
	.work__back {
		font-size: 14px;
		font-family: 'ralewaybold';
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 20px;
		margin-left: 60px;
		position: absolute;
		z-index: 10;
		right: 60px;
		top: 40px;
		text-decoration: none;
		letter-spacing: 1px;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 1px;
			width: 100%;
			border-bottom: 1px solid;
			opacity: 0;
			transition: all .2s ease-out;
		}


		&:hover {
			&:after {
				border-bottom: 2px solid;
				bottom: -3px;
				opacity: 1;
			}
		}

		@include mq($until: desktop) {
			display: none;
			font-size: 11px;
			right: 20px;
			top: 20px;
		}
	}

	.work__wrap {
		@include mq($until: desktop) {
			height: 250px;
			position: relative;
		}
	}


	.work__detail {
		position: relative;
		min-height: 595px;
		background-size: cover;
		background-position: center;
		background-color: #ccc;
		transition: height .3s ease;

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(#000, .4);
			transition: background .3s ease;
		}


		&.work__detail--videohover {
			&:before {
				background: rgba(#000, 0);
			}
		}

		&.work__detail--pay {

			& + .work__back {
				display: none;
			}

			@include mq($until: desktop) {
				position: fixed;
				top: 0;
				bottom: 0;
				width: 100%;
			}

			@include mq($from: desktop) {
				.work__info {
					opacity: 0;
				}

				& + .work__back {
					position: fixed;
				}
			}
		}

		@include mq($until: desktop) {
			min-height: 0;
			height: auto !important;
		}
	}
		.work__close-video {
				position: absolute;
				z-index: 10;
				right: 60px;
				top: 40px;
				width: 27px;
				height: 27px;
				background-image: url(../i/cross.png);
				cursor: pointer;

				@include mq($until: desktop) {
					display: none;
				}
		}
		.work__detail__video {
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			transform: translate3d(0,0,0);
			transition: all 1s ease;
			transition-delay: .5s;
			// height: 0;
			overflow: hidden;
			opacity: 1;
			pointer-events: all;

			iframe {
				width: 100%;
				height: inherit;
				// opacity: 1;
				// pointer-events: all;
			}

			& ~ * {
				// visibility: hidden;
				// @include mq($from: desktop) {
					opacity: 0;
					transition: all .5s ease;
				// }
			}
			

			&.work__detail__video--inactive {
				opacity: 0;
				pointer-events: none;
				iframe {
					visibility: hidden;
					// opacity: 0;
					// pointer-events: none;
				}
				& ~ * {
					// visibility: visible;
					opacity: 1;
				}

				.work__close-video {
					display: none;
				}
			}

			@include mq($until: desktop) {
				height: 250px !important;
				position: relative;
			}
		}

		.work__detail__play {
			width: 62px;
			height: 62px;
			background-image: url(../i/play.png);
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: 60px;
			margin-top: 60px;
			cursor: pointer;
			position: relative;
			z-index: 20;

			@include mq($until: desktop) {
				margin-left: 20px;
				margin-top: 30px;
				top: -250px;
			}
		}

		.work__detail__label {
			font-size: 12px;
			font-family: 'ralewaybold';
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 20px;
			margin-left: 60px;
			margin-top: 43px;
			display: inline-block;
			position: relative;
			z-index: 10;
			cursor: pointer;

			@include mq($until: desktop) {
				margin-left: 20px;
				top: -273px;
			}
		}

		.work__detail__name {
			font-size: 100px;
			font-family: 'ralewayextrabold';
			color: #fff;
			width: 60%;
			line-height: 100%;
			margin-left: 60px;
			position: relative;
			z-index: 10;

			@include mq($until: desktop) {
				margin-left: 20px;
				font-size: 25px;
				width: 80%;
				top: -270px;
			}

		}

	.work__more {
		height: 40px;
		line-height: 40px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-size: 16px;
		font-family: 'ralewaysemibold';
		background: #1a1a1a;

		@include mq($until: desktop) {
			display: none;
		}
	}

	.work__share {
		position: absolute;
		z-index: 5;
		right: 60px;
		bottom: 40px;
		color: #fff;
		font-size: 12px;
		font-family: 'ralewaybold';
		text-transform: uppercase;

		@include mq($until: desktop) {
			right: 20px;
			bottom: 20px;
		}
	}
		.work__share__text {
			@include mq($until: desktop) {
				display: none;
			}
		}

	.work__tiles {
		@include mq($until: desktop) {
			position: fixed;
			z-index: 10;
			bottom: 0;
			width: 100%;
			.tile {
				width: 50% !important;
				height: 45px !important;
				line-height: 45px !important;
				background: #1f1f1f !important;

				.tile__action {
					opacity: 1;
					transform: translateX(0%) !important;
				}
			}
		}
	}


	.work__info {
		position: absolute;
		z-index: 5;
		bottom: 0;
		// bottom: 40px;
		// left: 60px;
		margin: 40px 60px;
		display: inline-table;
		opacity: 1;
		transition: all .5s ease;

		@include mq($until: desktop) {
			position: relative;
			background: #fff;
			margin: 0;
			display: block;
			padding: 25px 20px;
			bottom: auto;
		}
	}
		.work__info__col {
			display: table-cell;
			vertical-align: top;
			max-width: 314px;
			color: #fff;

			& + .work__info__col {
				padding-left: 20px;
			}

			&.work__info__col--hidden {
				display: none;
			}

			@include mq($until: desktop) {
				display: block;
				max-width: 100%;

				& + .work__info__col {
					padding-left: 0px;
					margin-top: 20px;
				}
			}
		}

		.work__info__title {
			margin-bottom: 20px;
			font-size: 12px;
			font-family: 'ralewaybold';
			color: #fff;
			text-transform: uppercase;
			display: inline-block;

			@include mq($until: desktop) {
				color: #000;
				font-size: 15px;
			}
		}

		.work__info__text {
			font-size: 18px;

			a {
				font-weight: bold;
				color: #fff;
			}

			@include mq($until: desktop) {
				color: #000;

				a {
					color: #000;
				}
			}
		}
