@charset 'UTF-8';

.b-element {
  position: relative;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

  .b-element__options {
    width: 100%;
    /*margin-left: 20px;*/
  }

  .b-element__option {

  }
    .b-element__option__name {
      padding-right: 10px;
      /*min-width: 140px;*/
      width: 200px;
    }
    .b-element__option__value {
      
    }

    .b-element__option__name,
    .b-element__option__value {
      padding-bottom: 10px;
      vertical-align: top;
    } 

.b-element[data-edit="basic"] {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.b-element[data-edit="basic"]:after {
  display: block;
  position: absolute; 
  top: 0;
  right: 0;
  content: "Щелкните 2 раза, чтобы начать редактирование";
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 7px;
  background-color: #eee;
  opacity: 0.7;
  border-radius: 0 0 0 4px;
  visibility: hidden;
}

.b-element[data-edit="basic"]:hover:after {
  visibility: visible;
}

.b-element[data-mode="admin"]:hover:after {
  visibility: hidden;
}

  .b-element__option__inner {
    margin-bottom: 7px;
  }

  .b-element__option__inner__row {
    margin-bottom: 5px;
  }